<app-confirm-modal
  modalTitle="Confirm Prune Branches"
  (onConfirm)="confirm()"
  [modalId]="'pruneConfirm' + repoViewUid"
  [confirmDisabled]="isConfirmDisabled()"
  modalClass="dialog-wide"
  >
  <div class="branch-grid">
    <div class="d-flex flex-column g-2">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="m-0">Available branches</h4>
        <div class="btn-group btn-group-sm mx-2">
          <button
            class="btn btn{{ !byAge ? '-primary' : '-secondary' }}"
            (click)="byAge = false"
            >
            Merged
          </button>
          <button
            class="btn btn{{ byAge ? '-primary' : '-secondary' }}"
            (click)="byAge = true"
            >
            By Age
          </button>
        </div>
      </div>
      <div class="d-flex flex-column g-1">
        @if (byAge) {
          <div>Branches older than:</div>
        }
        @if (byAge) {
          <div class="d-flex g-2">
            <input
              class="form-control my-2 flex-grow-1"
              type="number"
              [(ngModel)]="age"
              placeholder="Age"
              (ngModelChange)="updateBranchesByAge()"
              />
            <select
              class="form-control my-2 flex-grow-1"
              [(ngModel)]="ageUnit"
              (ngModelChange)="updateBranchesByAge()"
              >
              <option [ngValue]="1000 * 60 * 60 * 24">Days</option>
              <option [ngValue]="1000 * 60 * 60">Hours</option>
              <option [ngValue]="1000 * 60">Minutes</option>
            </select>
          </div>
        }
      </div>
      @if (getActiveBranchList(); as branches) {
        <div>
          <div class="d-flex g-2">
            <input
              class="form-control flex-grow-1"
              [(ngModel)]="searchText"
              placeholder="Search..."
              (ngModelChange)="updateBranchesByAge(); updateBranchesByMerge()"
              />
            <button class="btn btn-primary" (click)="selectAll(branches)">
              Select All
            </button>
          </div>
          @if (branches.length > 0) {
            <div class="list-group my-2">
              @for (b of branches; track b; let i = $index) {
                <div
                  class="list-group-item d-flex align-items-center py-1 pr-1"
                  >
                  <div class="d-flex align-items-center g-2 flex-grow-1">
                    <span>{{ b.name }}</span>
                    @if (b.isTrackingPathGone) {
                      <i
                        class="fa fa-unlink text-warning"
                        ngbTooltip="Remote branch no longer exists"
                      ></i>
                    }
                  </div>
                  <div class="ml-2 mr-3">
                    {{ getAgeString(b) }}
                    <i class="fa fa-stopwatch"></i>
                  </div>
                  @if (selectedBranchesSet.has(b.name)) {
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="toggleBranch(b)"
                      ngbTooltip="This branch is currently selected to be removed. Click to deselect"
                      >
                      Deleting
                      <i class="fas fa-check ml-1"></i>
                    </button>
                  }
                  @if (!selectedBranchesSet.has(b.name)) {
                    <button
                      class="btn btn-sm btn-outline-danger"
                      (click)="toggleBranch(b)"
                      ngbTooltip="This branch is not selected to be removed. Click to select"
                      >
                      Select
                    </button>
                  }
                </div>
              }
            </div>
          }
          @if (branches.length === 0) {
            <div class="text-muted mt-2 mb-4">
              No branches to prune...
            </div>
          }
        </div>
      }
    </div>
    <div class="d-flex flex-column g-2">
      <h4 class="m-0">Branches to delete</h4>
      <div>The following branches will be deleted:</div>
      @if (selectedBranches.length > 0) {
        <div class="list-group">
          @for (b of selectedBranches; track b; let i = $index) {
            <div
              class="list-group-item d-flex align-items-center py-1 pr-1"
              >
              <span class="flex-grow-1">{{ b.name }}</span>
              <div class="ml-2 mr-3">
                {{ getAgeString(b) }}
                <i class="fa fa-stopwatch"></i>
              </div>
              @if (selectedBranchesSet.has(b.name)) {
                <button
                  class="btn btn-sm btn-danger"
                  (click)="toggleBranch(b)"
                  ngbTooltip="This branch is currently selected to be removed. Click to deselect"
                  >
                  Deleting
                  <i class="fas fa-check ml-1"></i>
                </button>
              }
            </div>
          }
        </div>
      }
      @if (isConfirmDisabled(); as msg) {
        <div class="text-muted">
          {{ msg }}
        </div>
      }
      <b>This cannot be undone</b>
    </div>
  </div>
</app-confirm-modal>
