<app-modal
  [modalId]="modalId + uidSalt"
  [modalTitle]="modalTitle"
  (onFinish)="okClicked()"
  [affirmativeButtonDisabled]="!checkValid()"
  (onCancel)="this.onClickCancel.emit(this.value)"
  (onOpen)="value = ''"
>
  <p>{{ message }}</p>
  <input
    class="form-control"
    *ngIf="modalService.getSetVisibleListener(modalId + uidSalt).getValue()"
    [(ngModel)]="value"
    [placeholder]="inputPlaceholder"
    [pattern]="validPattern"
    (keyup)="checkValid()"
    [autofocus]
    (keyup.enter)="okClicked()"
    (keyup.control.enter)="okClicked()"
    (keyup.meta.enter)="okClicked()"
  />
  <p *ngIf="errorMessage" class="error-message">
    <i class="fa fa-exclamation-circle mr-2"></i>{{ errorMessage }}
  </p>
</app-modal>
