@use "sass:math";

$size: 2em;
$time: .8s;
.loading-spinner-container {
  width: $size;
  height: $size;
  position: relative;

  .load-center, .load-eminate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .load-center {
    background-color: rgba(128, 128, 128, .7);
    animation: pulsate $time*0.5 alternate-reverse infinite ease-in;
  }

  .load-eminate {
    border: .15em solid rgba(128, 128, 128, .7);
    animation: eminate $time infinite ease-in-out;
  }
}

@keyframes pulsate {
  0% {
    height: math.div($size, 1.5);
    width: math.div($size, 1.5);
  }
  100% {
    height: $size * 0.25;
    width: $size * 0.25;
  }
}

@keyframes eminate {
  0% {
    height: $size * 0.25;
    width: $size * 0.25;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    height: $size;
    width: $size;
    opacity: 0;
  }
}
