<div class="dialog-container" *ngIf="showWindow | async">
  <div class="dialog-window card">
    <div class="modal-content dialog-wide">
      <div class="modal-header">
        <h5 class="modal-title">Clone Repository</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Repository URL</label>
          <input class="form-control"
                 [(ngModel)]="url"
                 placeholder="http://..." [disabled]="isLoading">
        </div>
        <app-file-input [allowMultiple]="false"
                        [isFolder]="true"
                        label="Destination Path"
                        [(filePath)]="path"
                        [disabled]="isLoading"></app-file-input>

        <div class="card">
          <div class="card-header">Output
            <app-loading-spinner class="d-inline-block" [show]="isLoading"></app-loading-spinner>
          </div>
          <div class="card-body">
            <div *ngFor="let o of output">
              <pre *ngIf="o.err" style="color:rgba(250,150,150,.5)">{{o.err}}</pre>
              <pre *ngIf="o.out">{{o.out}}</pre>
              <pre *ngIf="o.done" class="text-muted">command execution finished -------------</pre>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="doClone()" [disabled]="isLoading">Clone</button>
        <button class="btn btn-secondary" (click)="cancel()" [disabled]="isLoading">Cancel</button>
      </div>
    </div>
  </div>
</div>
