<app-modal
  [customModal]="true"
  modalId="error"
  (onOpen)="currentError = 0"
  (onCancel)="close()"
  >
  <div class="modal-header">
    <h5 class="modal-title center-text-vertical">
      <i class="material-icons">error</i>
      <span class="mx-2">An Error Occurred</span>
    </h5>
  </div>
  @if (getRootError(errors[currentError]); as rootError) {
    <div
      class="modal-body"
      >
      <p>An error occurred while {{ rootError.occurredWhile }}:</p>
      <pre>{{ getRootErrorMessage(rootError) }}</pre>
    </div>
  }
  <div class="modal-footer">
    <button
      class="btn btn-light"
      ngbTooltip="Copy"
      (click)="clipboardService.copy(getRootErrorMessage(errors[currentError]))"
      >
      <i class="fa fa-copy"></i>
    </button>
    @if (errors.length > 1) {
      <div class="d-inline-block">
        ({{ currentError + 1 }} / {{ errors.length }})
        <button
          class="btn btn-light"
          ngbTooltip="Previous Error"
          (click)="cycleError(-1)"
          >
          <i class="fa fa-caret-left"></i>
        </button>
        <button
          class="btn btn-light"
          ngbTooltip="Next Error"
          (click)="cycleError(1)"
          >
          <i class="fa fa-caret-right"></i>
        </button>
      </div>
    }
    <button class="btn btn-secondary" (click)="close()" [autofocus]>Ok</button>
  </div> </app-modal
  >>
