<div class="dialog-container" *ngIf="errorMessage&&errorMessage.error">
  <div class="dialog-window card">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title center-text-vertical"><i class="material-icons">error</i><span class="mx-2">An Error Occurred</span></h5>
      </div>
      <div class="modal-body">
        <p>An error occurred while executing the command:</p>
        <pre>
          {{getErrorMessage()}}
        </pre>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="close()" autofocus>Ok</button>
      </div>
    </div>
  </div>
</div>
