<div>
  <label>
    {{label}}
    <input class="form-control"
           [(ngModel)]="filePath"
           (keyup.enter)="enterKeyPressed()"
           (change)="changeFilePath()"
    [disabled]="disabled"/>
  </label>
  <label class="btn btn-light">
    <input class="form-control d-none"
           type="file"
           [attr.webkitdirectory]="isFolder?'':null"
           [attr.directory]="isFolder?'':null"
           [attr.multiple]="allowMultiple?'':null"
           [accept]="filter.join(', ')"
           [disabled]="disabled"
           (change)="changeFilePath($event)"/>
    Browse
  </label>
</div>
