<button class="btn btn-secondary center-text-vertical mx-2"
        (click)="copyTempSettings()">
  <i class="material-icons">settings</i>
</button>
<div class="dialog-container" *ngIf="showSettingsDialog">
  <div class="dialog-window card">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Settings</h5>
        <button type="button" class="close" (click)="cancelChanges()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Light Git v{{version}}
          <button class="btn btn-sm btn-primary" (click)="checkForUpdates()">
            Check for Updates
            <i class="fa fa-sync"></i>
          </button>
        </p>
        <div class="pretty p-switch p-fill mx-2">
          <input type="checkbox" [(ngModel)]="tempSettings.darkMode"/>
          <div class="state">
            <label>{{tempSettings.darkMode?'dark':'light'}}</label>
          </div>
        </div>
        <app-file-input [filePath]="tempSettings.gitPath"
                        (onPathChanged)="tempSettings.gitPath=$event"
                        [label]="'Git Path'"></app-file-input>
        <app-file-input [filePath]="tempSettings.bashPath"
                        (onPathChanged)="tempSettings.bashPath=$event"
                        [label]="'Bash Path'"></app-file-input>
        <div class="pretty p-switch p-fill mx-2">
          <input type="checkbox" [(ngModel)]="advanced"/>
          <div class="state">
            <label>Advanced</label>
          </div>
        </div>
        <div *ngIf="advanced">
          <label>Command timeout</label>
          <div class="input-group">
            <input class="form-control form-control-sm" [(ngModel)]="tempSettings.commandTimeoutSeconds">
            <div class="input-group-append">
              <span class="input-group-text">s</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="saveSettings()">Save</button>
        <button class="btn btn-secondary" (click)="cancelChanges()">Cancel</button>
      </div>
    </div>
  </div>
</div>
