<button class="btn btn-secondary center-text-vertical mx-2" title="App Settings"
        (click)="copyTempSettings()">
  <i class="material-icons">settings</i>
  <span class="ml-1">Global</span>
</button>
<app-modal modalTitle="Settings"
           modalTitleIcon="fa-cog"
           modalId="settings"
           affirmativeButtonText="Save"
           (onFinish)="saveSettings()"
           (onCancel)="cancelChanges()"
           modalClass="dialog-wide"
           [affirmativeButtonDisabled]="saveDisabledReason()">
  <div *ngIf="tempSettings">
    <div>
      <div *ngFor="let tab of tabs;let i = index"
           class="btn btn-secondary"
           [ngClass]="{'settings-tab':true,active:currentTab==i}"
           (click)="currentTab=i">{{tab}}</div>
    </div>
    <div *ngIf="currentTab==0">
      <div>
        Light Git <span class="badge badge-pill badge-info mx-1">v{{version}}</span>

        <div class="pretty p-switch p-fill my-3 mx-1">
          <input type="checkbox" [(ngModel)]="tempSettings.allowPrerelease"/>
          <div class="state">
            <label>Bleeding Edge Builds</label>
          </div>
        </div>
        <button class="btn btn-sm btn-primary mx-1" (click)="checkForUpdates()">
          Check for Updates
          <i class="fa fa-sync"></i>
        </button>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="pretty p-switch p-fill my-3 d-block">
            <input type="checkbox" [(ngModel)]="tempSettings.darkMode" (change)="setThemeTemp()"/>
            <div class="state">
              <label>{{tempSettings.darkMode ? 'Dark' : 'Light'}} Mode</label>
            </div>
          </div>
          <div class="pretty p-switch p-fill my-3 d-block">
            <input type="checkbox" [(ngModel)]="tempSettings.showTrackingPath"/>
            <div class="state">
              <label>Show branch tracking path</label>
            </div>
          </div>
          <div class="pretty p-switch p-fill my-3 d-block">
            <input type="checkbox" [(ngModel)]="tempSettings.commitMessageAutocomplete"/>
            <div class="state">
              <label>Show autocomplete when typing commit message</label>
            </div>
          </div>
          <div class="pretty p-switch p-fill my-3 d-block">
            <input type="checkbox" [(ngModel)]="tempSettings.allowStats"/>
            <div class="state">
              <label>Send anonymized statistics to help improve Light-Git</label>
            </div>
          </div>
        </div>
        <div class="col-6">
          <app-file-input [filePath]="tempSettings.gitPath"
                          (onPathChanged)="tempSettings.gitPath=$event"
                          [label]="'Git Path (required if not in PATH)'"></app-file-input>
          <app-file-input [filePath]="tempSettings.bashPath"
                          (onPathChanged)="tempSettings.bashPath=$event"
                          [label]="'Bash Path (required if not in PATH)'"></app-file-input>
        </div>
      </div>
      <div class="pretty p-switch p-fill mx-2">
        <input type="checkbox" [(ngModel)]="advanced"/>
        <div class="state">
          <label>Advanced</label>
        </div>
      </div>
      <div *ngIf="advanced">
        <label>Command timeout</label>
        <div class="input-group">
          <input class="form-control form-control-sm" [(ngModel)]="tempSettings.commandTimeoutSeconds">
          <div class="input-group-append">
            <span class="input-group-text">s</span>
          </div>
        </div>
        <button class="btn btn-light" (click)="openDevTools()"><i class="fa fa-bug"></i> Debugger</button>
      </div>
    </div>
    <div *ngIf="currentTab==1">
      <p>Watch your code changes for specified patterns, and alert you before you commit</p>
      <div class="pretty p-switch p-fill mb-1 d-block">
        <input type="checkbox" [(ngModel)]="tempSettings.includeUnchangedInWatcherAnalysis"/>
        <div class="state">
          <label>Include Unchanged Surrounding Code in Analysis</label>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Regex</th>
          <th>Flags</th>
          <th>Filename Filter</th>
          <th>Enabled</th>
          <th style="width: 1%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let w of tempSettings.codeWatchers; let i=index">
          <td><input class="form-control" [(ngModel)]="w.name" placeholder="Watcher Name..."></td>
          <td><input class="form-control" [(ngModel)]="w.regex" placeholder="Regex..."></td>
          <td><input class="form-control small-input"
                     [(ngModel)]="w.regexFlags"
                     placeholder="Flags..."
                     [pattern]="'[gmisuy]*'"></td>
          <td><input class="form-control" [(ngModel)]="w.activeFilter" placeholder="Filename Regex..."></td>
          <td>
            <div class="pretty p-switch p-fill mx-2">
              <input type="checkbox" [(ngModel)]="w.enabled"/>
              <div class="state">
                <label></label>
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-light td-btn" (click)="tempSettings.codeWatchers.splice(i,1)">
              <i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-info" (click)="addWatcher()">Add Watcher</button>
    </div>
    <div *ngIf="currentTab==2">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Display Name</label>
            <input class="form-control" [(ngModel)]="tempSettings.username">
          </div>
          <div class="form-group">
            <label>Display Email</label>
            <input class="form-control" [(ngModel)]="tempSettings.email">
          </div>
          <div class="pretty p-switch p-fill mx-2">
            <input type="checkbox" [(ngModel)]="setGlobalDefaultUserConfig"/>
            <div class="state">
              <label>Set as Global Defaults</label>
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <div>Credential Helper</div>
            <small class="error-message" *ngIf="credentialHelper=='osxkeychain'||credentialHelper=='wincred'">
              <span *ngIf="credentialHelper=='osxkeychain'">Warning: This only works on Mac</span>
              <span *ngIf="credentialHelper=='wincred'">Warning: This only works on Windows</span>
            </small>
            <select class="form-control" [(ngModel)]="credentialHelper">
              <option value="cache">Cache</option>
              <option value="store">Unencrypted</option>
              <option value="osxkeychain">OSX Keychain</option>
              <option value="wincred">Windows Credential Manager</option>
            </select>
          </div>
          <div class="form-group" *ngIf="credentialHelper=='cache'">
            <label>Cache Timeout</label>
            <div class="input-group">
              <input class="form-control" [(ngModel)]="cacheHelperSeconds" pattern="^\d+$">
              <div class="input-group-append">
                <span class="input-group-text">seconds</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Mergetool Name</label>
            <input class="form-control" [(ngModel)]="mergetoolName">
          </div>
          <div class="form-group">
            <div>Mergetool Command</div>
            <small>Supports <code>$BASE $LOCAL $MERGED $REMOTE</code></small>
            <input class="form-control" [(ngModel)]="mergetoolCommand">
          </div>
          <div class="pretty p-switch p-fill mx-2">
            <input type="checkbox" [(ngModel)]="setGlobalDefaultMergetoolConfig"/>
            <div class="state">
              <label>Set as Global Default</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>
<app-modal modalId="stats"
           modalTitle="Send Anonymized Usage Data"
           affirmativeButtonText="Yes"
           negativeButtonText="No"
           modalTitleIcon="fa-chart-line"
           (onCancel)="settingsService.settings.allowStats=-1;settingsService.saveSettings()"
           (onFinish)="settingsService.settings.allowStats=1;settingsService.saveSettings()">
  <div>Can we automatically collect anonymized usage data and errors to help improve Light-Git?</div>
</app-modal>
