.settings-tab {
  display: inline-block;
  padding: 1em 1.2em;
  cursor: pointer;
  margin-bottom: 1em;
  border-bottom: .3em solid transparent;
  transition: background-color .5s, border-bottom-color .5s;

  &:hover {
    background-color: rgba(128, 128, 128, .3);
  }

  &.active {
    border-bottom: .3em solid rgba(128, 128, 255, .5) !important;
  }
}

.ng-invalid {
  border: .2em solid rgba(255, 0, 0, .5);
}

.small-input {
  width: 6em;
}

.td-btn {
  margin: -.25em;
}

.editable-item {
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: rgba(128, 128, 128, .3);
  }

  &:hover .material-icons {
    opacity: 1;
  }

  .material-icons {
    -webkit-backface-visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
  }
}

.table-btn {
  margin: -.5em;
}
