<div class="d-inline-block">
  <div>{{label}}</div>
  <div class="input-group">
    <input class="form-control"
      [(ngModel)]="filePath"
      (keyup.enter)="enterKeyPressed()"
      (change)="changeFilePath()"
      [disabled]="disabled"/>
    <div class="input-group-append">
      @if (!isFolder) {
        <label class="btn btn-light">
          <input class="form-control d-none"
            type="file"
            [attr.multiple]="allowMultiple?'':null"
            [accept]="filter.join(', ')"
            [disabled]="disabled"
            (change)="changeFilePath($event)"/>
          Browse
        </label>
      }
      @if (isFolder) {
        <button class="btn btn-success" (click)="openClicked()">Browse</button>
      }
    </div>
  </div>
</div>
