<table class="table table-striped">
  <thead>
  <tr>
    <th>Message</th>
    <th>Author</th>
    <th>Email</th>
    <th>Date</th>
    <th>Hash</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of commitHistory">
    <td>
      <div class="vertical-content-hidden">{{c.message}}
      </div>
    </td>
    <td class="hidden-until-hover" [title]="c.authorName">{{c.authorName}}</td>
    <td class="hidden-until-hover" [title]="c.authorEmail">{{c.authorEmail}}</td>
    <td class="hidden-until-hover" [title]="c.authorDate | date : 'full'">
      {{c.authorDate | date : 'short'}}
    </td>
    <td class="hidden-until-hover" [title]="c.hash">{{c.hash.substr(0,8)}}</td>
  </tr>
  </tbody>
</table>
