.hidden-until-hover {
  max-width: 7em;
  white-space: nowrap;
  transition: max-width .5s ease-in-out, padding-right .5s;
  overflow: hidden;

  &:hover {
    max-width: 15em;
    transition-delay: .5s;
  }
}

.vertical-content-hidden {
  max-height: 2.5em;
  transition: max-height .5s .3s ease-in-out;
  overflow: hidden;

  &:hover {
    max-height: 10em;
    overflow-y: auto;
  }
}

td .btn {
  margin: -1.5em 0;
}

.commit-wrapper {
  height: calc(100vh - 11.5rem);
  overflow-y: auto;
}

.badge-info {
  padding-top: .4em;
  padding-bottom: .4em;
}

.badge {
  padding-left: .6em;
  padding-right: .6em;
}

.commit-message-cell {
  word-break: break-all;
}

.graph-spacer {
  margin: 0 7px;
  border-right: 2px solid;
  top: 25px;
  height: calc(100% - 25px);
}

.commit-row {
  overflow-y: hidden;

  .expand-container {
    opacity: 0;
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    transition: right .3s 1s, opacity .3s 1s;
  }

  &:hover .expand-container {
    opacity: 1;
    right: 0;
  }
}

.commit-indicator {
  position: absolute;

  &:not(.merge) {
    left: -.65em;
    font-size: .8em;
    top: -.9em;
  }

  &.merge {
    top: -.8em;
    left: -.6em;
    font-size: .9em;
  }
}

.message {
  max-height: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
  overflow: hidden;
  transition: max-height .2s;

  &.message-expanded {
    max-height: 10em;
  }
}

.branch-filter-content {
  max-height: 30em;
  overflow-y: auto;
}
