<div class="p-2">
  <input class="form-control"
         placeholder="Filter...    Hash, Message, Date, Author Name/Email"
         [(ngModel)]="commitFilter">
</div>

<cdk-virtual-scroll-viewport class="commit-wrapper" itemSize="45" (scrolledIndexChange)="scrolled($event)">
  <table class="table table-striped">
    <thead>
    <tr>
      <th *ngIf="!commitFilter"></th>
      <th>Message
        <i class="fa fa-filter" *ngIf="commitFilter" ngbTooltip="Filtered Results"></i>
      </th>
      <th>Author</th>
      <th class="d-none d-sm-table-cell" *ngIf="commitFilter">Email</th>
      <th>Date</th>
      <th>Hash</th>
    </tr>
    </thead>
    <tbody>
    <tr *cdkVirtualFor="let c of getFilteredCommitHistory()" class="commit-row">
      <td class="position-relative p-0" *ngIf="!commitFilter">
        <app-git-graph-canvas [commit]="c"></app-git-graph-canvas>
      </td>
      <td class="commit-message-cell">
        <div class="d-flex">
          <div class="pr-2 m-0 cursor-pointer"
               *ngIf="messageExpanded[c.hash]!=undefined || checkOverflow(messageExpander)"
               (click)="messageExpanded[c.hash] = !messageExpanded[c.hash]">
            <span class="fa fa-caret-down" *ngIf="messageExpanded[c.hash]"></span>
            <span class="fa fa-caret-right" *ngIf="!messageExpanded[c.hash]"></span>
          </div>
          <div class="flex-grow-1 message" #messageExpander [ngClass]="{'message-expanded':messageExpanded[c.hash]}">
            <div class="d-inline-block"
                 *ngFor="let tag of c.currentTags">
              <div [ngClass]="getTagClasses(tag)" class="badge mx-1">
                <small *ngIf="tag.startsWith('origin/')"><i class="fa fa-cloud"></i></small>
                {{tag.replace('tag: ', '')}}
              </div>
            </div>
            <span>{{getSplitCommitMessage(c)[0]}}</span>
            <p *ngFor="let line of getSplitCommitMessage(c).slice(1)">{{line}}</p>
          </div>
        </div>
      </td>
      <td class="hidden-until-hover" [title]="c.authorName">{{c.authorName}}</td>
      <td class="hidden-until-hover d-none d-sm-table-cell"
          [title]="c.authorEmail"
          *ngIf="commitFilter">{{c.authorEmail}}</td>
      <td class="hidden-until-hover" [title]="c.authorDate | date : 'full'">
        {{c.authorDate | date : 'short'}}
      </td>
      <td [title]="c.hash">
        <div class="position-relative">
          {{c.hash.substr(0, 8)}}
          <div class="btn-group-sm btn-group expand-container position-absolute">
            <button class="btn btn-warning" title="View Commit Diff" (click)="getCommitDiff(c)">
              <i class="fa fa-eye"></i>
            </button>
            <button class="btn btn-info" title="Cherry-pick commit" (click)="cherryPickCommit(c)">
              <i class="fa fa-band-aid"></i>
            </button>
            <button class="btn btn-secondary" title="Checkout commit" (click)="checkout(c)">
              <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</cdk-virtual-scroll-viewport>
