<div class="p-2">
  <input
    class="form-control"
    placeholder="Filter...    Hash, Message, Date, Author Name/Email"
    [(ngModel)]="commitFilter"
  />
</div>

<div
  class="commit-wrapper"
  infinite-scroll
  [scrollWindow]="false"
  (scrolled)="scrolled(true)"
  (scrolledUp)="scrolled(false)"
>
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngIf="!commitFilter" class="py-1 px-2">
          <div
            class="btn-group btn-group-sm flex-shrink-0"
            ngbDropdown
            autoClose="outside"
            #branchChooserDropdown="ngbDropdown"
          >
            <button
              class="btn btn-primary d-inline-flex align-items-center"
              [ngClass]="{ active: isCurrentBranchActive() }"
              ngbTooltip="Filter to current branch"
              (click)="toggleSoloCurrentBranch()"
            >
              <i
                class="fa"
                [ngClass]="{
                  'fa-low-vision': isCurrentBranchActive(),
                  'fa-eye': !isCurrentBranchActive()
                }"
              ></i>
            </button>
            <button
              class="btn btn-primary d-inline-flex align-items-center"
              ngbDropdownToggle
              ngbTooltip="Filter to specific branch"
            ></button>
            <div ngbDropdownMenu>
              <app-branch-chooser
                [branches]="branches"
                [selectedBranch]="activeBranch"
                (selectedBranchChange)="
                  setActiveBranch($event); branchChooserDropdown.close()
                "
              ></app-branch-chooser>
            </div>
          </div>
        </th>
        <th>
          Message
          <i
            class="fa fa-filter"
            *ngIf="commitFilter"
            ngbTooltip="Filtered Results"
          ></i>
        </th>
        <th>Author</th>
        <th class="d-none d-sm-table-cell" *ngIf="commitFilter">Email</th>
        <th>Date</th>
        <th>Hash</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of getFilteredCommitHistory()" class="commit-row">
        <td class="position-relative p-0" *ngIf="!commitFilter">
          <app-git-graph-canvas [commit]="c"></app-git-graph-canvas>
        </td>
        <td class="commit-message-cell p-0">
          <div class="d-flex" (click)="expandMessage(c)">
            <div
              class="pr-2 m-0 cursor-pointer d-flex align-items-center"
              *ngIf="messageExpanded[c.hash] !== undefined || checkOverflow(c)"
            >
              <i class="fa fa-caret-down" *ngIf="messageExpanded[c.hash]"></i>
              <i class="fa fa-caret-right" *ngIf="!messageExpanded[c.hash]"></i>
            </div>
            <div
              class="flex-grow-1 message"
              [ngClass]="{
                'message-expanded': messageExpanded[c.hash],
                'cursor-pointer': messageExpanded[c.hash] != undefined
              }"
            >
              <div class="d-inline-block" *ngFor="let tag of c.currentTags">
                <div
                  [ngClass]="getTagClasses(tag)"
                  class="badge d-flex align-items-center mx-1"
                >
                  <small *ngIf="isRemoteBranch(tag)"
                    ><i class="fa fa-cloud"></i
                  ></small>
                  <small *ngIf="isPlainTag(tag)"
                    ><i class="fa fa-tag"></i
                  ></small>
                  {{ tag.replace('tag: ', '') }}
                </div>
              </div>
              <span>{{ getSplitCommitMessage(c)[0] }}</span>
              <p *ngFor="let line of getSplitCommitMessage(c).slice(1)">
                {{ line }}
              </p>
            </div>
          </div>
        </td>
        <td class="hidden-until-hover" [ngbTooltip]="c.authorName">
          {{ c.authorName }}
        </td>
        <td
          class="hidden-until-hover d-none d-sm-table-cell"
          [ngbTooltip]="c.authorEmail"
          *ngIf="commitFilter"
        >
          {{ c.authorEmail }}
        </td>
        <td class="hidden-until-hover" [ngbTooltip]="dateTooltip">
          {{ c.commitDate | date: 'short' }}
          <ng-template #dateTooltip>
            <div><b>Author Date:</b> {{ c.authorDate | date: 'full' }}</div>
            <div><b>Commit Date:</b> {{ c.commitDate | date: 'full' }}</div>
          </ng-template>
        </td>
        <td [ngbTooltip]="c.hash">
          <div class="position-relative">
            {{ c.hash.substr(0, 8) }}
          </div>
        </td>
        <td class="py-0 pl-0 pr-2">
          <div
            class="btn-group btn-group-sm align-items-center"
            ngbDropdown
            placement="bottom-right"
            container="body"
          >
            <button
              class="btn btn-sm px-1 py-0 btn-light action-expand"
              ngbDropdownToggle
            >
              <i class="fa fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu class="px-1">
              <button
                class="btn btn-warning mx-1 btn-sm"
                ngbTooltip="View Commit Diff"
                (click)="getCommitDiff(c)"
              >
                <i class="fa fa-eye"></i>
              </button>
              <button
                class="btn btn-info mx-1 btn-sm"
                ngbTooltip="Cherry-pick commit"
                (click)="cherryPickCommit(c)"
              >
                <i class="fa fa-band-aid"></i>
              </button>
              <button
                class="btn btn-secondary mx-1 btn-sm"
                ngbTooltip="Checkout commit"
                (click)="checkout(c)"
              >
                <i class="fa fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
