<head *ngIf="repo">
  <title>Light Git - {{repo.name}} - {{getCurrentBranch().name}}</title>
</head>
<div *ngIf="repo" (focus)="getFullRefresh()" class="row full-width">
  <div class="col-sm col-md-3 d-flex flex-column mb-1">
    <h1>{{repo.name}}
      <span class="d-inline-block btn-group">
        <button class="btn btn-primary"
                (click)="openTerminal()"
                title="Open Bash Terminal at Repo Root"><i class="fas fa-terminal"></i></button>
        <button class="btn btn-info"
                (click)="openFolder()"
                title="Open Folder at Repo Root"><i class="fas fa-folder-open"></i></button>
        <button class="btn btn-primary"
                (click)="getFullRefresh(false,true)"
                title="Refresh All Changes (local and remote)"><i class="fas fa-sync-alt"></i></button>
        <button class="btn btn-warning"
                (click)="showModal('discardAllModal')"
                title="Discard All Changes Since the Last Commit (CAN'T UNDO!)">
          <i class="fa fa-undo"></i>
          Discard All
        </button>
      </span>
    </h1>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('locals')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('locals'),'fa-caret-down':getExpandState('locals')}"></i>
        <i class="fa fa-code-branch mr-1"></i> Locals
        <input class="ml-2 mr-1 form-control"
               placeholder="Filter..."
               [(ngModel)]="localBranchFilter" (click)="$event.stopPropagation()">
        <button class="btn btn-primary btn-sm mx-1"
                (click)="showModal('createBranch'); $event.stopPropagation()"
                title="Create branch off current HEAD">
          <i class="fa fa-code-branch"></i></button>
        <button class="btn btn-primary btn-sm mx-1"
                (click)="pruneLocalBranches(); $event.stopPropagation()"
                title="Remove local branches without a tracking URL">
          <i class="fas fa-cut"></i>
        </button>
      </div>
      <div class="card-body repo-section-container" *ngIf="getExpandState('locals')">
        <app-branch-tree-item [isLocal]="true"
                              [filter]="localBranchFilter"
                              [branches]="repo.localBranches"
                              (onCheckoutClicked)="checkout($event,false)"
                              (onPushClicked)="push($event,false)"
                              (onForcePushClicked)="push($event,true)"
                              (onPullClicked)="pull(false)"
                              (onForcePullClicked)="pull(true)"
                              (onDeleteClicked)="deleteBranch($event)"
                              (onMergeClicked)="mergeBranch($event)"
                              (onFastForwardClicked)="fastForwardBranch($event)"
                              (onBranchPremergeClicked)="getBranchPremerge($event)"
                              [worktrees]="repo.worktrees"
                              (onBranchRename)="renameBranch($event)"></app-branch-tree-item>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('remotes')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('remotes'),'fa-caret-down':getExpandState('remotes')}"></i>
        <i class="fa fa-cloud mr-1"></i> Remotes
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="remoteBranchFilter" (click)="$event.stopPropagation()">
      </div>
      <div class="card-body repo-section-container" *ngIf="getExpandState('remotes')">
        <app-branch-tree-item [isLocal]="false"
                              [filter]="remoteBranchFilter"
                              [branches]="repo.remoteBranches"
                              (onCheckoutClicked)="checkout($event,true)"
                              [localBranches]="repo.localBranches"
                              [worktrees]="repo.worktrees"></app-branch-tree-item>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('worktrees')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('worktrees'),'fa-caret-down':getExpandState('worktrees')}"></i>
        <i class="fa fa-copy mr-1"></i> Worktrees
        <input class="ml-2 mr-1 form-control"
               placeholder="Filter..."
               [(ngModel)]="worktreeFilter" (click)="$event.stopPropagation()">
        <button class="btn btn-sm btn-primary mx-1"
                title="Add Worktree"
                (click)="setAddWorktreeVisible(true);$event.stopPropagation()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <div class="card-body repo-section-container" *ngIf="getExpandState('worktrees')">
        <div *ngFor="let w of repo.worktrees | filterObject : 'name' : worktreeFilter" class="d-flex">
          <span [title]="w.path"
                [ngClass]="{'bold':w.isCurrent}"
                class="flex-grow-1">
            {{w.name}}
            <small *ngIf="w.currentBranch=='detached'">(detached)</small>
          </span>
          <div class="flex-grow-0 ml-3">
            <button class="btn btn-info btn-sm" (click)="openFolder(w.path)" title="Open folder at Worktree root"><i
              class="fas fa-folder-open"></i></button>
            <button class="btn btn-primary btn-sm"
                    title="Open in New Tab"
                    *ngIf="w.currentHash!='bare' && !w.isCurrent"
                    (click)="onOpenRepoNewTab.emit(w.path)">
              <i class="fa fa-external-link-square-alt"></i>
            </button>
            <button *ngIf="w.currentHash!='bare' && !w.isCurrent"
                    class="btn btn-light btn-sm"
                    (click)="loadRepo(w.path)">
              <i class="fa fa-exchange-alt"></i>
            </button>
            <button *ngIf="w.currentHash!='bare' && !w.isCurrent"
                    class="btn btn-danger btn-sm"
                    (click)="deleteWorktree(w)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('submodules')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('submodules'),'fa-caret-down':getExpandState('submodules')}"></i>
        <i class="fa fa-plug mr-1"></i> Submodules
        <input class="ml-2 mr-1 form-control"
               placeholder="Filter..."
               [(ngModel)]="submoduleFilter" (click)="$event.stopPropagation()">
        <button class="btn btn-sm btn-primary mx-1"
                title="Add Submodule"
                (click)="showModal('addSubmodule');$event.stopPropagation()">
          <i class="fa fa-plus"></i>
        </button>
        <div class="btn-group btn-group-sm flex-shrink-0" ngbDropdown (click)="$event.stopPropagation()">
          <button class="btn btn-primary"
                  title="Update Submodules"
                  (click)="updateSubmodules(false)">
            <i class="fa fa-tasks"></i>
          </button>
          <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
          </button>
          <div ngbDropdownMenu>
            <button class="btn btn-sm btn-primary mx-1"
                    title="Update Submodules Recursively"
                    (click)="updateSubmodules(true)">
              <i class="fa fa-sitemap"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body repo-section-container" *ngIf="getExpandState('submodules')">
        <div *ngFor="let w of repo.submodules | filterObject : 'path' : submoduleFilter" class="d-flex">
          <span [title]="w.path" class="flex-grow-1">
            <span class="badge badge-light badge-pill" *ngFor="let r of w.path.split('/');let i=index">
              {{r}}
              <i class="mx-1 fa fa-arrow-right" *ngIf="i<w.path.split('/').length-1"></i>
            </span>
          </span>
          <div class="flex-grow-0 d-flex">
            <button class="btn btn-primary btn-sm"
                    title="Open in New Tab"
                    (click)="onOpenRepoNewTab.emit(repo.path+'/'+w.path)">
              <i class="fa fa-external-link-square-alt"></i>
            </button>
            <button class="btn btn-warning btn-sm"
                    title="Quick View"
                    (click)="viewSubmodule(w)">
              <i class="fa fa-eye"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('stashes')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('stashes'),'fa-caret-down':getExpandState('stashes')}"></i>
        <i class="fa fa-box mr-1"></i> Stashes
        <input class="ml-2 mr-1 form-control"
               placeholder="Filter..."
               [(ngModel)]="stashFilter" (click)="$event.stopPropagation()">
        <div class="btn-group btn-group-sm mx-1" ngbDropdown (click)="$event.stopPropagation()">
          <button class="btn btn-secondary"
                  title="Stash All Changes"
                  (click)="stash(false);$event.stopPropagation()"><i class="fa fa-boxes"></i></button>
          <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
          </button>
          <div ngbDropdownMenu>
            <button class="btn btn-sm btn-secondary mx-1"
                    title="Stash Unstaged Changes"
                    (click)="stash(true);$event.stopPropagation()"><i class="fa fa-box"></i></button>
          </div>
        </div>
      </div>
      <div class="card-body repo-section-container" *ngIf="getExpandState('stashes')">
        <div *ngFor="let s of repo.stashes | filterObject : getStashFilterText : stashFilter" class="d-flex">
          <div class="stash-message flex-grow-1">
            <span class="badge badge-info">{{s.index}}</span>
            : {{s.message}}
          </div>
          <div class="d-inline-block ml-3 flex-shrink-0">
            <div class="d-flex">
              <button class="btn btn-warning btn-sm mx-1" (click)="viewStash(s.index)" title="View Stash Diff">
                <i class="fa fa-eye"></i>
              </button>
              <button class="btn btn-light btn-sm mx-1" (click)="applyStash(s.index)" title="Apply Stash">
                <i class="fa fa-box-open"></i>
              </button>
              <button class="btn btn-danger btn-sm mx-1" (click)="deleteStash(s.index)" title="Delete Stash">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('command-history')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('command-history'),'fa-caret-down':getExpandState('command-history')}"></i>
        <i class="fa fa-history mr-1"></i> Command History
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="commandHistoryFilter" (click)="$event.stopPropagation()">
      </div>
      <div class="card-body repo-section-container"
           *ngIf="getExpandState('command-history') && commandHistory"
           infinite-scroll
           [scrollWindow]="false"
           (scrolled)="maxCommandsVisible=maxCommandsVisible + commandsPerPage"
           (scrolledUp)="maxCommandsVisible=commandsPerPage">
        <div *ngFor="let c of commandHistory.slice().reverse() | filterObject : getCommandHistoryFilterableText : commandHistoryFilter | slice : 0 : maxCommandsVisible">
          <span class="command-title"><i class="fa {{c.isError?'fa-exclamation-triangle':'fa-check-circle'}}"></i> <i>{{c.name}}</i> ({{c.durationMs}}
            ms @ {{c.executedAt | date : 'mediumTime'}})</span>
          <pre>$ {{c.command}}</pre>
          <pre class="p-2 bg-light command-output">Output Characters 0-1000:
            {{(c.errorOutput || c.output).substring(0, 3000)}}</pre>
          <hr/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm col-md-4 d-flex flex-column mb-1">
    <div *ngIf="changes" class="flex-grow-1">
      <div class="card">
        <div class="card-header form-inline" (click)="toggleExpandState('staged')">
          <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('staged'),'fa-caret-down':getExpandState('staged')}"></i>
          Staged Changes ({{changes.stagedChanges.length}})
          <div class="d-inline-block ml-3">
            <button class="btn btn-secondary" (click)="unstageAll();$event.stopPropagation()" title="Unstage All">
              <i class="fa fa-angle-double-down"></i></button>
            <button class="btn btn-secondary"
                    (click)="unstageSelected();$event.stopPropagation()"
                    title="Unstage Selected">
              <i class="fa fa-angle-down"></i></button>
          </div>
          <input class="ml-2 form-control"
                 placeholder="Filter..."
                 [(ngModel)]="stagedChangesFilter" (click)="$event.stopPropagation()">
        </div>
        <div class="change-body repo-section-container" *ngIf="getExpandState('staged')">
          <app-change-list [changes]="changes.stagedChanges"
                           (onSelectChanged)="selectionChanged($event,true)"
                           (onUndoFileClicked)="confirmUndo($event)"
                           (onMergeClicked)="merge($event)"
                           (onDeleteClicked)="deleteClicked($event)"
                           [changeFilter]="stagedChangesFilter"></app-change-list>
        </div>
      </div>
      <div class="card">
        <div class="card-header form-inline" (click)="toggleExpandState('unstaged')">
          <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('unstaged'),'fa-caret-down':getExpandState('unstaged')}"></i>
          Unstaged Changes ({{changes.unstagedChanges.length}})
          <div class="d-inline-block ml-3">
            <button class="btn btn-secondary" (click)="stageAll();$event.stopPropagation()" title="Stage All">
              <i class="fa fa-angle-double-up"></i>
            </button>
            <button class="btn btn-secondary" (click)="stageSelected();$event.stopPropagation()" title="Stage Selected">
              <i class="fa fa-angle-up"></i></button>
          </div>
          <input class="ml-2 form-control"
                 placeholder="Filter..."
                 [(ngModel)]="unstagedChangesFilter" (click)="$event.stopPropagation()">
        </div>
        <div class="change-body repo-section-container" *ngIf="getExpandState('unstaged')">
          <app-change-list [changes]="changes.unstagedChanges"
                           (onSelectChanged)="selectionChanged($event,false)"
                           (onUndoFileClicked)="undoFileChanges($event,false)"
                           (onMergeClicked)="merge($event)"
                           (onDeleteClicked)="deleteClicked($event)"
                           [changeFilter]="unstagedChangesFilter"></app-change-list>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body p-3">
        <div class="pretty p-switch p-fill mx-2">
          <input type="checkbox" [(ngModel)]="commitAndPush" (change)="changeDetectorRef.detectChanges()"/>
          <div class="state">
            <label>{{commitAndPush ? 'Commit and Push' : 'Commit'}}</label>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="dropup flex-grow-1 mt-1 position-relative">
            <div class="input-group">
              <textarea class="form-control"
                        [(ngModel)]="changes.description"
                        placeholder="Commit message"
                        [disabled]="loadingService.isLoading"
                        (keyup.control.enter)="codeWatcherService.showWatchers()"
                        (keyup)="setCurrentCursorPosition($event)"
                        (keydown.tab)="setCurrentCursorPosition($event)"></textarea>
              <div class="input-group-append">
                <button class="btn btn-success"
                        (click)="codeWatcherService.showWatchers()"
                        [disabled]="loadingService.isLoading">Commit
                </button>
              </div>
              <div class="input-group-append" *ngIf="hasWatcherAlerts">
                <button class="btn btn-warning"
                        (click)="codeWatcherService.showWatchers({isCommit:false})">
                  <span class="fa fa-glasses"></span>
                </button>
              </div>
            </div>
            <div class="crlf-warning alert alert-warning d-flex justify-content-between p-0"
                 [ngClass]="{'crlf-warning-show':crlfError}">
              <div *ngIf="crlfError" class="pl-4 py-2">
                {{crlfError.start}} will be replaced by {{crlfError.end}} on commit
              </div>
              <button class="close px-2" (click)="crlfError=undefined">
                <small><span class="fa fa-times"></span></small>
              </button>
            </div>
            <div class="dropdown-menu show" *ngIf="suggestions.length>0">
              <a [ngClass]="{'dropdown-item':true,'active':i==selectedAutocompleteItem}"
                 *ngFor="let s of suggestions; let i = index"
                 (click)="chooseAutocomleteItem(false,i)">{{s}}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="suggestions=[]">Hide Suggestions</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="changes" class="col-sm-12 col-md-5 diff-viewer">
    <div class="card">
      <div class="card-header">
        <div class="pretty p-switch p-fill mx-2">
          <input type="checkbox" [(ngModel)]="showDiff"/>
          <label>Commit History</label>
          <div class="state ml-2">
            <label>Diff</label>
          </div>
        </div>
      </div>
      <div>
        <div class="card-body" *ngIf="showDiff">
          <app-diff-viewer [diffHeaders]="diffHeaders"
                           [diffCommitInfo]="diffCommitInfo"
                           (onHunkChanged)="getFullRefresh(false)"
                           (onHunkChangeError)="hunkChangeError($event)"
                           (onIngoreWhitespaceClicked)="getFileDiff()"
                           (onExitCommitClicked)="leaveCommitDiff()"
                           (onNavigateToHash)="viewCommitDiff($event)"
                           (onWatcherClick)="codeWatcherService.showWatchers()"></app-diff-viewer>
        </div>
        <app-commit-history [commitHistory]="commitHistory"
                            *ngIf="!showDiff"
                            (onClickCommitDiff)="viewCommitDiff($event.hash)"
                            (onClickCherryPick)="cherryPickCommit($event)"
                            (onScrollDown)="getCommitHistory(commitHistory.length)"
                            (onClickCheckout)="checkout($event.hash,false)"></app-commit-history>
      </div>
    </div>
  </div>
  <app-input-modal modalId="createBranch"
                   [uidSalt]="repoViewUid"
                   modalTitle="Create Branch"
                   message="Create branch off current HEAD"
                   validPattern="[a-zA-Z0-9/-]*[a-zA-Z0-9-]"
                   invalidMessage="Please enter a valid branch name"
                   inputPlaceholder="Branch name..."
                   (onClickOk)="createBranch($event)"></app-input-modal>
  <app-input-modal modalId="createStash"
                   [uidSalt]="repoViewUid"
                   [modalTitle]="'Stash '+(stashOnlyUnstaged?'Unstaged':'All')+' Changes'"
                   message="Please enter a name for the stash"
                   validPattern='^[^\\"]*$'
                   invalidMessage="Stash name cannot include double quotes"
                   inputPlaceholder="Stash name..."
                   [defaultText]="getCreateStashDefaultText()"
                   (onClickOk)="createStash($event)"></app-input-modal>
  <app-code-watcher-alerts (onCommitClicked)="commit()"></app-code-watcher-alerts>
  <app-add-worktree [uidSalt]="repoViewUid"
                    [branches]="repo.remoteBranches"
                    [worktrees]="repo.worktrees"
                    (onAddWorktree)="getFullRefresh()"></app-add-worktree>
  <app-add-submodule [uidSalt]="repoViewUid" (onAddClicked)="addSubmodule($event.url,$event.path)"></app-add-submodule>
  <app-confirm-modal modalTitle="Confirm Discard All"
                     (onConfirm)="hardReset()"
                     [modalId]="'discardAllModal'+repoViewUid">
    Are you sure you want to discard <i>all changes</i>?<br/>
    <b>This cannot be undone</b>
  </app-confirm-modal>
  <app-modal [modalId]="'submoduleViewer'+repoViewUid"
             [modalTitle]="'Submodule: ' + activeSubmodule?.path"
             class="position-relative"
             modalClass="embedded-repo-view"
             (onCancel)="activeSubmodule=null"
             (onFinish)="activeSubmodule=null">
    <div *ngIf="activeSubmodule">
      <app-repo-view [repoPath]="repo.path+'/'+ activeSubmodule.path"
                     (onOpenRepoNewTab)="onOpenRepoNewTab.emit($event)"
                     (onLoadRepoFailed)="onLoadRepoFailed.emit($event)"></app-repo-view>
    </div>
  </app-modal>
  <app-confirm-modal modalTitle="Confirm Undo Changes"
                     (onConfirm)="undoFileChanges(activeUndo,true)"
                     [modalId]="'undoFileModal'+repoViewUid">
    Are you sure you want to undo both <i>unstaged and staged</i> changes?<br/>
    <b>This cannot be undone</b>
  </app-confirm-modal>
  <app-confirm-modal modalTitle="Confirm Delete Branches"
                     (onConfirm)="doPrune()"
                     [modalId]="'pruneConfirm'+repoViewUid">
    The following branches will be deleted:
    <div class="list-group my-2">
      <div *ngFor="let b of branchesToPrune; let i=index" class="list-group-item d-flex align-items-center justify-content-between py-1 pr-1">
        <span>{{b}}</span>
        <button class="btn btn-primary btn-sm" (click)="branchesToPrune.splice(i,1)">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <b>This cannot be undone</b>
  </app-confirm-modal>
</div>
