.commit-area {
  padding: 1em;
}

.diff-viewer {
  overflow: hidden;
  @media (min-width: 768px) {
    max-width: 58vw;
  }
}

.state {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.change-body {
  max-height: 50vh;
  overflow: auto;

  table {
    width: 100%;
  }
}

.branch-container {
  max-height: 30vh;
  overflow: auto;
}

.card-header {
  cursor: pointer;
}

.full-width {
  width: 100%;
  margin: 0;
}

.stash-message {
  max-height: 4em;
  overflow-y: hidden;
  transition: max-height .5s;
  padding-top: .5em;

  &:hover {
    max-height: 10em;
    overflow-y: auto;
  }
}

.command-output {
  max-height: 6em;
  overflow-y: hidden;
  transition: max-height .5s;
  margin-bottom: 0;

  &:hover {
    max-height: 20em;
    overflow-y: auto;
  }
}

.command-title {
  .fa-exclamation-triangle {
    color: rgba(225, 128, 128, .5);
  }

  .fa-check-circle {
    color: rgba(128, 225, 128, .5);
  }
}

.crlf-warning {
  position: absolute;
  bottom: 100%;
  right: 0;
  opacity: 0;
  width: 15em;
  pointer-events: none;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 100;
  transition: opacity .3s ease-in-out, max-width .3s ease-in-out, max-height .3s ease-in-out;

  &.crlf-warning-show {
    opacity: 1;
    pointer-events: all;
    max-width: 15em;
    max-height: 8em;
  }

  .close {
    font-size: 1em;
  }
}

///////////////////////small///////////////////////
.card-body {
  padding: .3em;
  margin: 0;
}

.card-header, .btn {
  padding: .5em .75em;
  margin: 0;
}

.card {
  margin: 0;
  font-size: .9em;
}

.td, .th {
  padding: .3em;
}

.card-header .form-control {
  max-width: 5em;
  -webkit-transition: max-width .3s;
  -moz-transition: max-width .3s;
  -ms-transition: max-width .3s;
  -o-transition: max-width .3s;
  transition: max-width .3s;

  &:active, &:focus {
    max-width: 30em;
  }
}
