<head *ngIf="repo">
  <title>Light Git - {{repo.name}} - {{getCurrentBranch().name}}</title>
</head>
<div *ngIf="repo" (focus)="getFileChanges()" class="row">
  <div class="col-sm-7 col-md-5 d-flex flex-column ">
    <h1>{{repo.name}}
      <span class="d-inline-block btn-group">
        <button class="btn btn-primary" (click)="openTerminal()"><i class="fas fa-terminal"></i></button>
        <button class="btn btn-info" (click)="openFolder()"><i class="fas fa-folder-open"></i></button>
        <button class="btn btn-primary" (click)="getFileChanges()"><i class="fas fa-sync-alt"></i></button>
        <button class="btn btn-warning" (click)="hardReset()">
          <i class="fa fa-undo"></i>
          Undo All
        </button>
      </span>
    </h1>
    <div class="card">
      <div class="card-header form-inline">Locals
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="localBranchFilter">
      </div>
      <div class="card-body branch-container">
        <app-branch-tree-item [isLocal]="true"
                              [filter]="localBranchFilter"
                              [branches]="repo.localBranches"
                              (onCheckoutClicked)="checkout($event,false)"
                              (onPushClicked)="push($event,false)"
                              (onPullClicked)="pull()"
                              (onDeleteClicked)="deleteBranch($event)"></app-branch-tree-item>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline">Remotes
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="remoteBranchFilter">
      </div>
      <div class="card-body">
        <app-branch-tree-item [isLocal]="false"
                              [filter]="remoteBranchFilter"
                              [branches]="repo.remoteBranches"
                              (onCheckoutClicked)="checkout($event,true)"
                              [localBranches]="repo.localBranches"></app-branch-tree-item>
      </div>
    </div>
    <div *ngIf="changes" class="flex-grow-1">
      <div class="card">
        <p class="card-header">staged changes ({{changes.stagedChanges.length}})
          <button class="btn btn-secondary" (click)="unstageAll()" title="Unstage All">
            <i class="fa fa-angle-double-down"></i></button>
          <button class="btn btn-secondary" (click)="unstageSelected()" title="Unstage Selected">
            <i class="fa fa-angle-down"></i></button>
        </p>
        <div class="change-body">
          <app-change-list [changes]="changes.stagedChanges"
                           [selectedChanges]="selectedStagedChanges"
                           (onSelectChanged)="getFileDiff();showDiff=true"
                           (onUndoFileClicked)="undoFileChanges($event)"
                           (onMergeClicked)="merge($event)"
                           (onDeleteClicked)="deleteClicked($event)"></app-change-list>
        </div>
      </div>
      <div class="card">
        <p class="card-header">Unstaged Changes ({{changes.unstagedChanges.length}})
          <button class="btn btn-secondary" (click)="stageAll()" title="Stage All"><i class="fa fa-angle-double-up"></i>
          </button>
          <button class="btn btn-secondary" (click)="stageSelected()" title="Stage Selected">
            <i class="fa fa-angle-up"></i></button>
        </p>
        <div class="change-body">
          <app-change-list [changes]="changes.unstagedChanges"
                           [selectedChanges]="selectedUnstagedChanges"
                           (onSelectChanged)="getFileDiff();showDiff=true"
                           (onUndoFileClicked)="undoFileChanges($event)"
                           (onMergeClicked)="merge($event)"
                           (onDeleteClicked)="deleteBranch($event)"></app-change-list>
        </div>
      </div>
    </div>
    <div class="bg-light commit-area" *ngIf="changes">
      <div class="pretty p-switch p-fill mx-2">
        <input type="checkbox" [(ngModel)]="commitAndPush" (change)="applicationRef.tick()"/>
        <div class="state">
          <label>{{commitAndPush?'Commit and Push':'Commit'}}</label>
        </div>
      </div>
      <div class="d-flex flex-row bg-light">
        <textarea class="form-control flex-grow-1 mt-1" [(ngModel)]="changes.description"
                  placeholder="Commit message"></textarea>
        <button class="btn btn-success" (click)="commit()">Commit</button>
      </div>
    </div>
  </div>
  <div *ngIf="changes" class="col-sm-5 col-md-7 diff-viewer">
    <div class="card">
      <div class="card-header">
        <div class="pretty p-switch p-fill mx-2">
          <input type="checkbox" [(ngModel)]="showDiff" (change)="applicationRef.tick()"/>
          <label>Commit History</label>
          <div class="state ml-2">
            <label>Diff</label>
          </div>
        </div>
      </div>
      <div>
        <div class="card-body" *ngIf="showDiff">
          <app-diff-viewer [diffString]="diffString"></app-diff-viewer>
        </div>
        <app-commit-history [commitHistory]="commitHistory" *ngIf="!showDiff"></app-commit-history>
      </div>
    </div>
  </div>
</div>
<app-error-message [errorMessage]="errorMessage"></app-error-message>
