<head *ngIf="repo">
  <title>Light Git - {{repo.name}} - {{getCurrentBranch().name}}</title>
</head>
<div *ngIf="repo" (focus)="getFileChanges()" class="row full-width">
  <div class="col-sm col-md-3 d-flex flex-column mb-1">
    <h1>{{repo.name}}
      <span class="d-inline-block btn-group">
        <button class="btn btn-primary"
                (click)="openTerminal()"
                title="Open Bash Terminal at Repo Root"><i class="fas fa-terminal"></i></button>
        <button class="btn btn-info"
                (click)="openFolder()"
                title="Open Folder at Repo Root"><i class="fas fa-folder-open"></i></button>
        <button class="btn btn-primary"
                (click)="getFileChanges(false)"
                title="Refresh All Changes (local and remote)"><i class="fas fa-sync-alt"></i></button>
        <button class="btn btn-warning"
                (click)="hardReset()"
                title="Discard All Changes Since the Last Commit (CAN'T UNDO!)">
          <i class="fa fa-undo"></i>
          Discard All
        </button>
      </span>
    </h1>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('locals')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('locals'),'fa-caret-down':getExpandState('locals')}"></i>
        Locals
        <button class="btn btn-primary btn-sm mx-1"
                (click)="showCreateBranch=true; $event.stopPropagation()"
                title="Create branch off current HEAD">
          <i class="fa fa-code-branch"></i></button>
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="localBranchFilter" (click)="$event.stopPropagation()">
      </div>
      <div class="card-body branch-container" *ngIf="getExpandState('locals')">
        <app-branch-tree-item [isLocal]="true"
                              [filter]="localBranchFilter"
                              [branches]="repo.localBranches"
                              (onCheckoutClicked)="checkout($event,false)"
                              (onPushClicked)="push($event,false)"
                              (onPullClicked)="pull()"
                              (onDeleteClicked)="deleteBranch($event)"
                              [worktrees]="repo.worktrees"
                              (onBranchRename)="renameBranch($event)"></app-branch-tree-item>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('remotes')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('remotes'),'fa-caret-down':getExpandState('remotes')}"></i>
        Remotes
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="remoteBranchFilter" (click)="$event.stopPropagation()">
      </div>
      <div class="card-body branch-container" *ngIf="getExpandState('remotes')">
        <app-branch-tree-item [isLocal]="false"
                              [filter]="remoteBranchFilter"
                              [branches]="repo.remoteBranches"
                              (onCheckoutClicked)="checkout($event,true)"
                              [localBranches]="repo.localBranches"
                              [worktrees]="repo.worktrees"></app-branch-tree-item>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('worktrees')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('worktrees'),'fa-caret-down':getExpandState('worktrees')}"></i>
        Worktrees
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="worktreeFilter" (click)="$event.stopPropagation()">
      </div>
      <div class="card-body branch-container" *ngIf="getExpandState('worktrees')">
        <div *ngFor="let w of repo.worktrees | filterObject : 'name' : worktreeFilter">
          <span [title]="w.path" [ngClass]="{'bold':w.isCurrent}">{{w.name}}</span>
          <div class="d-inline-block ml-3">
            <button class="btn btn-info btn-sm" (click)="openFolder(w.path)"><i class="fas fa-folder-open"></i></button>
            <button *ngIf="!w.isCurrent" class="btn btn-light btn-sm" (click)="loadRepo(w.path)">
              <i class="fa fa-exchange-alt"></i>
            </button>
            <button *ngIf="!w.isCurrent" class="btn btn-danger btn-sm" (click)="deleteWorktree(w)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header form-inline" (click)="toggleExpandState('stashes')">
        <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('stashes'),'fa-caret-down':getExpandState('stashes')}"></i>
        Stashes
        <input class="ml-2 form-control"
               placeholder="Filter..."
               [(ngModel)]="stashFilter" (click)="$event.stopPropagation()">
        <div class="btn-group d-inline-block">
          <button class="btn btn-sm btn-secondary"
                  title="Stash Unstaged Changes"
                  (click)="stash(true);$event.stopPropagation()"><i class="fa fa-box"></i></button>
          <button class="btn btn-sm btn-secondary"
                  title="Stash All Changes"
                  (click)="stash(false);$event.stopPropagation()"><i class="fa fa-boxes"></i></button>
        </div>
      </div>
      <div class="card-body branch-container" *ngIf="getExpandState('stashes')">
        <div *ngFor="let s of repo.stashes | filterObject : getStashFilterText : stashFilter" class="d-flex">
          <div class="stash-message">
            <span class="badge badge-info">{{s.index}}</span>
            : {{s.message}}
          </div>
          <div class="d-inline-block ml-3">
            <button class="btn btn-light btn-sm" (click)="applyStash(s.index)" title="Apply Stash">
              <i class="fa fa-box-open"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteStash(s.index)" title="Delete Stash">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm col-md-4 d-flex flex-column mb-1">
    <div *ngIf="changes" class="flex-grow-1">
      <div class="card">
        <div class="card-header form-inline" (click)="toggleExpandState('staged')">
          <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('staged'),'fa-caret-down':getExpandState('staged')}"></i>
          Staged Changes ({{changes.stagedChanges.length}})
          <div class="d-inline-block ml-3">
            <button class="btn btn-secondary" (click)="unstageAll();$event.stopPropagation()" title="Unstage All">
              <i class="fa fa-angle-double-down"></i></button>
            <button class="btn btn-secondary"
                    (click)="unstageSelected();$event.stopPropagation()"
                    title="Unstage Selected">
              <i class="fa fa-angle-down"></i></button>
          </div>
          <input class="ml-2 form-control"
                 placeholder="Filter..."
                 [(ngModel)]="stagedChangesFilter" (click)="$event.stopPropagation()">
        </div>
        <div class="change-body branch-container" *ngIf="getExpandState('staged')">
          <app-change-list [changes]="changes.stagedChanges"
                           [selectedChanges]="selectedStagedChanges"
                           (onSelectChanged)="selectionChanged()"
                           (onUndoFileClicked)="undoFileChanges($event)"
                           (onMergeClicked)="merge($event)"
                           (onDeleteClicked)="deleteClicked($event)"
                           [changeFilter]="stagedChangesFilter"></app-change-list>
        </div>
      </div>
      <div class="card">
        <div class="card-header form-inline" (click)="toggleExpandState('unstaged')">
          <i [ngClass]="{fa:true,'fa-caret-right':!getExpandState('unstaged'),'fa-caret-down':getExpandState('unstaged')}"></i>
          Unstaged Changes ({{changes.unstagedChanges.length}})
          <div class="d-inline-block ml-3">
            <button class="btn btn-secondary" (click)="stageAll();$event.stopPropagation()" title="Stage All">
              <i class="fa fa-angle-double-up"></i>
            </button>
            <button class="btn btn-secondary" (click)="stageSelected();$event.stopPropagation()" title="Stage Selected">
              <i class="fa fa-angle-up"></i></button>
          </div>
          <input class="ml-2 form-control"
                 placeholder="Filter..."
                 [(ngModel)]="unstagedChangesFilter" (click)="$event.stopPropagation()">
        </div>
        <div class="change-body branch-container" *ngIf="getExpandState('unstaged')">
          <app-change-list [changes]="changes.unstagedChanges"
                           [selectedChanges]="selectedUnstagedChanges"
                           (onSelectChanged)="selectionChanged()"
                           (onUndoFileClicked)="undoFileChanges($event)"
                           (onMergeClicked)="merge($event)"
                           (onDeleteClicked)="deleteClicked($event)"
                           [changeFilter]="unstagedChangesFilter"></app-change-list>
        </div>
      </div>
    </div>
    <div class="bg-light commit-area" *ngIf="changes">
      <div class="pretty p-switch p-fill mx-2">
        <input type="checkbox" [(ngModel)]="commitAndPush" (change)="applicationRef.tick()"/>
        <div class="state">
          <label>{{commitAndPush?'Commit and Push':'Commit'}}</label>
        </div>
      </div>
      <div class="d-flex flex-row bg-light">
        <textarea class="form-control flex-grow-1 mt-1"
                  [(ngModel)]="changes.description"
                  placeholder="Commit message"
                  [disabled]="isLoading"
                  (keyup.control.enter)="commit()"></textarea>
        <button class="btn btn-success" (click)="commit()" [disabled]="isLoading">Commit</button>
      </div>
    </div>
  </div>
  <div *ngIf="changes" class="col-sm-12 col-md-5 diff-viewer">
    <div class="card">
      <div class="card-header">
        <div class="pretty p-switch p-fill mx-2">
          <input type="checkbox" [(ngModel)]="showDiff" (change)="applicationRef.tick()"/>
          <label>Branch Commit History</label>
          <div class="state ml-2">
            <label>Diff</label>
          </div>
        </div>
      </div>
      <div>
        <div class="card-body" *ngIf="showDiff">
          <app-diff-viewer [diffHeaders]="diffHeaders" [diffCommitInfo]="diffCommitInfo"></app-diff-viewer>
        </div>
        <app-commit-history [commitHistory]="commitHistory"
                            *ngIf="!showDiff"
                            (onClickCommitDiff)="viewCommitDiff($event)"></app-commit-history>
      </div>
    </div>
  </div>
  <app-error-message [errorMessage]="errorMessage"></app-error-message>
  <app-input-modal [show]="showCreateBranch"
                   modalTitle="Create Branch"
                   message="Create branch off current HEAD"
                   validPattern="[a-zA-Z0-9/-]*[a-zA-Z0-9-]"
                   invalidMessage="Please enter a valid branch name"
                   inputPlaceholder="Branch name..."
                   (onClickOk)="createBranch($event)"
                   (onClickCancel)="showCreateBranch=false"></app-input-modal>
  <app-input-modal [show]="showCreateStash"
                   [modalTitle]="'Stash '+(stashOnlyUnstaged?'Unstaged':'All')+' Changes'"
                   message="Please enter a name for the stash"
                   validPattern='^[^\"]*$'
                   invalidMessage="Stash name cannot include double quotes"
                   inputPlaceholder="Stash name..."
                   [defaultText]="getCreateStashDefaultText()"
                   (onClickOk)="createStash($event)"
                   (onClickCancel)="showCreateStash=false"></app-input-modal>
</div>
