.commit-area {
  padding: 1em;
}

::ng-deep .diff-viewer {
  overflow: hidden;
  max-height: unset !important;
  @media (min-width: 768px) {
    max-width: 58vw;
  }
}

::ng-deep .state {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.change-body {
  max-height: 50vh;
  overflow: auto;

  table {
    width: 100%;
  }
}

.full-width {
  width: 100%;
  margin: 0;
}

.stash-message {
  max-height: 4em;
  overflow-y: hidden;
  transition: max-height 0.5s;
  padding-top: 0.5em;

  &:hover {
    max-height: 10em;
    overflow-y: auto;
  }
}

.command-output {
  max-height: 6em;
  overflow-y: hidden;
  transition: max-height 0.5s;
  margin-bottom: 0;

  &:hover {
    max-height: 20em;
    overflow-y: auto;
  }
}

.command-title {
  .fa-exclamation-triangle {
    color: rgba(225, 128, 128, 0.5);
  }

  .fa-check-circle {
    color: rgba(128, 225, 128, 0.5);
  }
}

.crlf-warning {
  position: absolute;
  bottom: 100%;
  right: 0;
  opacity: 0;
  width: 15em;
  pointer-events: none;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 100;
  transition: opacity 0.3s ease-in-out, max-width 0.3s ease-in-out,
    max-height 0.3s ease-in-out;

  &.crlf-warning-show {
    opacity: 1;
    pointer-events: all;
    max-width: 15em;
    max-height: 8em;
  }
}

.repo-column {
  height: calc(100vh - 5rem);
  gap: 0.5em;
  padding: 0.5em;
}

///////////////////////small///////////////////////
.card-body {
  padding: 0.3em;
  margin: 0;
}
