.children {
  margin-left: .5em;
  border-left: dotted .1em rgba(128, 128, 128, .3);
  padding-left: .5em;
}

.branch {
  padding: .2em;
  &:hover {
    background-color: rgba(128, 128, 128, .3);
  }
}

.folder {
  cursor: pointer;
}

.branch > div::after {
  clear: both;
  content: "";
  display: block;
}

.edit-btn {
  cursor: pointer;
  margin-bottom: -.3em;

  &:hover {
    color: rgba(128, 128, 128, .5);
  }
}

.bold {
  font-weight: bold;
}

.merge-branch-icon {
  transform: rotate(180deg);
}
