<div *ngIf="(leaves | filterObject : 'name' : filter) as filteredLeaves">
  <div (click)="toggleChildrenVisible()"
       *ngIf="currentPath && (getFilteredChildren().length>0 || filteredLeaves.length>0)"
       class="folder"
       [title]="currentPath">
    <i [ngClass]="{fa:true,'fa-caret-right':!showChildren,'fa-caret-down':showChildren}"></i>
    <span>{{getDisplayPath()}}</span>
  </div>
  <div *ngIf="showChildren" [ngClass]="{children:currentPath}">
    <div *ngFor="let b of filteredLeaves" class="branch" [title]="b.name">
      <div *ngIf="isLocal">
        <div class="d-inline-block"
             *ngIf="!activeRenames[b.name]"
             [ngClass]="{'bold':b.isCurrentBranch,'text-muted':checkedOutOtherWorktree(b)}">
          {{getLeafName(b.name)}}
          <small class="text-info" title="Branch checked out" *ngIf="b.isCurrentBranch">
            <i class="fa fa-shopping-cart"></i>
          </small>
          <small *ngIf="checkedOutOtherWorktree(b)"
                 [title]="checkedOutOtherWorktree(b)?'This branch is currently checked out in worktree \''+checkedOutOtherWorktree(b).name+'\'':null">
            <i class="fa fa-lock"></i>
          </small>
          <span *ngIf="b.trackingPath">
            <small class="text-muted" [title]="b.trackingPath"><i class="fa fa-cloud"></i></small>
            <i *ngIf="settingsService.settings.showTrackingPath">({{b.trackingPath}})</i>
            <span class="badge badge-info ml-1" *ngIf="b.ahead">{{b.ahead||0}} <i class="fas fa-arrow-up"></i></span>
            <span class="badge badge-info ml-1"
                  *ngIf="b.behind">{{b.behind||0}} <i class="fas fa-arrow-down"></i></span>
          </span>
        </div>
        <div *ngIf="activeRenames[b.name]" class="input-group input-group-sm">
          <input class="form-control"
                 [autofocus]
                 (keyup.enter)="renameBranch(b.name)"
                 [(ngModel)]="activeRenames[b.name]">
          <div class="input-group-append">
            <button class="btn btn-sm btn-light"
                    title="Cancel rename"
                    (click)="cancelRename(b.name)">
              <i class="fa fa-times-circle"></i>
            </button>
            <button class="btn btn-sm btn-success" title="Rename local branch" (click)="renameBranch(b.name)">
              <i class="fa fa-check"></i></button>
          </div>
        </div>
        <div *ngIf="!activeRenames[b.name]" class="branch-button-bar ml-3 float-right">
          <button class="btn btn-info btn-sm" (click)="startRename(b.name)" title="Rename local branch">
            <i class="material-icons">edit</i></button>
          <button class="btn btn-light btn-sm"
                  (click)="onCheckoutClicked.emit(b.name)"
                  *ngIf="!b.isCurrentBranch"
                  [title]="checkedOutOtherWorktree(b)?'This branch is currently checked out in worktree \''+checkedOutOtherWorktree(b).name+'\'':'Checkout'"
                  [disabled]="checkedOutOtherWorktree(b)">
            <i class="fa fa-shopping-cart"></i>
          </button>
          <button class="btn btn-light btn-sm"
                  (click)="onBranchPremergeClicked.emit(b)"
                  *ngIf="!b.isCurrentBranch"
                  title="View all changes in current branch since this branch">
            <i class="fa fa-history"></i>
          </button>
          <div class="btn-group btn-group-sm mx-1" ngbDropdown placement="left" (click)="$event.stopPropagation()" *ngIf="b.isCurrentBranch && b.trackingPath">
            <button class="btn btn-light" (click)="onPullClicked.emit()" title="Pull">
              <i class="fa fa-arrow-down"></i>
            </button>
            <button class="btn btn-light dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
            </button>
            <div ngbDropdownMenu>
              <button class="btn btn-light" (click)="onForcePullClicked.emit()" title="Force Pull">
                <i class="fa fa-shield-alt"></i>
              </button>
            </div>
          </div>
          <div class="btn-group btn-group-sm mx-1" ngbDropdown placement="left" (click)="$event.stopPropagation()">
            <button class="btn btn-light" (click)="onPushClicked.emit(b.name)" title="Push">
              <i class="fa fa-arrow-up"></i>
            </button>
            <button class="btn btn-light dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
            </button>
            <div ngbDropdownMenu>
              <button class="btn btn-light" (click)="onForcePushClicked.emit(b.name)" title="Force Push">
                <i class="fa fa-shield-alt"></i>
              </button>
            </div>
          </div>
          <button class="btn btn-light btn-sm"
                  (click)="onMergeClicked.emit(b.name)"
                  *ngIf="!b.isCurrentBranch"
                  title="Merge Branch into Current Branch">
            <i class="fa fa-code-branch merge-branch-icon"></i>
          </button>
          <button class="btn btn-danger btn-sm"
                  (click)="onDeleteClicked.emit(b.name)"
                  title="Delete"
                  *ngIf="!b.isCurrentBranch">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      <div *ngIf="!isLocal">
        <span>{{getLeafName(b.name)}}</span>
        <small class="text-muted" title="Branch already checked out" *ngIf="isRemoteAlreadyCheckedOut(b.name)">
          <i class="fa fa-shopping-cart"></i>
        </small>
        <div class="branch-button-bar ml-3 float-right">
          <button class="btn btn-light btn-sm"
                  (click)="onCheckoutClicked.emit(b.name)"
                  *ngIf="!isRemoteAlreadyCheckedOut(b.name)">
            <i class="fa fa-cart-arrow-down"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngFor="let info of children">
      <app-branch-tree-item [branches]="info.branches"
                            [currentPath]="getChildPath(info.path)"
                            [filter]="filter"
                            [isLocal]="isLocal"
                            (onCheckoutClicked)="onCheckoutClicked.emit($event)"
                            (onPushClicked)="onPushClicked.emit($event)"
                            (onPullClicked)="onPullClicked.emit()"
                            (onDeleteClicked)="onDeleteClicked.emit($event)"
                            (onBranchPremergeClicked)="onBranchPremergeClicked.emit($event)"
                            (onMergeClicked)="onMergeClicked.emit($event)"
                            [localBranches]="localBranches"
                            [worktrees]="worktrees"
                            (onBranchRename)="onBranchRename.emit($event)"></app-branch-tree-item>
    </div>
  </div>
</div>
