.children {
  margin-left: .5em;
  border-left: dashed .15em rgba(128, 128, 128, .3);
  padding-left: .5em;
  transition: border-left-color .5s;
  &:hover {
    border-left-color: rgba(225, 128, 128, .5);
  }
}

.branch {
  padding: .2em;
  transition: background-color .5s;
  .branch-button-bar {
    max-height: 0;
    transition: max-height .5s .2s;
    overflow: hidden;
  }
  &:hover {
    background-color: rgba(128, 128, 128, .3);
    .branch-button-bar {
      max-height: 3em;
    }
  }
}

.folder {
  cursor: pointer;
  transition: background-color .5s;
  &:hover {
    background-color: rgba(128, 128, 128, .3);
  }
  &:hover + .children {
    border-left-color: rgba(225, 128, 128, .5);
  }
}

.branch > div::after {
  clear: both;
  content: "";
  display: block;
}

.edit-btn {
  cursor: pointer;
  margin-bottom: -.3em;

  &:hover {
    color: rgba(128, 128, 128, .5);
  }
}

.bold {
  font-weight: bold;
}

.merge-branch-icon {
  transform: rotate(180deg);
}

.dropdown-menu{
  min-width: unset;
}
