<div class="d-flex flex-column main-panel">
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
    <div class="d-inline-block"
         *ngIf="settingsService.settings && settingsService.settings.airplaneMode"
         ngbTooltip="Airplane Mode is Active"
         placement="bottom-left">
      <i class="fa fa-plane"></i>
    </div>
    <app-settings class="nav-item"></app-settings>
    <app-loading-spinner [show]="isLoading" class="nav-item mx-2" [keepSpacing]="true"></app-loading-spinner>
    <div class="tab-container btn-group nav-item flex-grow-1 pl"
         cdkDropListOrientation="horizontal"
         cdkDropList
         (cdkDropListDropped)="moveTab($event)">
      <button *ngFor="let tabName of tabNames; let t = index"
              (click)="changeTab(t)"
              [ngbTooltip]="repoPaths[t]"
              placement="bottom"
              container="body"
              cdkDrag
              [cdkDragDisabled]="editingTab==t"
              cdkDragLockAxis="x"
              [ngClass]="{'tab-btn btn center-text-vertical':true,'btn-primary':t==activeTab,'btn-light':t!=activeTab}">
        <div class="pr-1 center-text-vertical">
          <span *ngIf="editingTab!=t">{{tabNames[t]}}</span>
          <div class="input-group" *ngIf="editingTab==t">
            <input class="form-control"
                   [autofocus]
                   [(ngModel)]="editedTabName"
                   (keypress.space)="$event.stopPropagation()"
                   (keyup.enter)="saveEditedName(t)"
                   (keyup.control.enter)="saveEditedName(t)"
                   (click)="editClick($event,t)"/>
            <div class="input-group-append">
              <button class="btn btn-light" (click)="cancelEdit($event)" title="Cancel Rename">
                <i class="fa fa-times-circle"></i></button>
            </div>
            <div class="input-group-append">
              <button class="btn btn-success" (click)="saveEditedName(t)" title="Apply"><i class="fa fa-check"></i>
              </button>
            </div>
          </div>
        </div>
        <span class="ml-2 pl-1 close-tab"
              (click)="editClick($event,t)"
              *ngIf="editingTab!=t"><i class="material-icons">edit</i></span>
        <span class="ml-2 pl-1 close-tab"
              (click)="closeTab(t)"
              *ngIf="editingTab!=t"><i class="material-icons">close</i></span>
      </button>
      <button class="btn btn-secondary" (click)="addTab()">
        <i class="material-icons">add</i>
      </button>
    </div>
  </nav>
  <div class="main-body flex-grow-1">
    <div>
      <app-new-tab-page (onReady)="loadRepo($event)"
                        *ngIf="!repoPaths[activeTab]"></app-new-tab-page>
      <app-repo-view *ngIf="repoPaths[activeTab]"
                     [repoPath]="repoPaths[activeTab]"
                     (onLoadRepoFailed)="repoLoadFailed($event)"
                     (onOpenRepoNewTab)="addTab($event)"
                     [repoCache]="repoCache[repoPaths[activeTab]]"></app-repo-view>
    </div>
  </div>
</div>
<app-error-message></app-error-message>
<app-alert></app-alert>
