@import "../../../styles";

.close-tab:hover {
  color: rgba(128, 128, 128, .5);
}

.close-tab {
  margin-bottom: -.3em;
}

.tab-container {
  margin-top: -1em;
  margin-bottom: -1em;
  height: 4em;
  padding: .2em 1em;
  overflow-x: auto;
}

.tab-btn {
  .close-tab {
    opacity: 0;
    transition: opacity .3s;
  }

  &:hover .close-tab {
    opacity: 1;
  }
}

.navbar {
  margin-bottom: .2em;
}

.main-body {
  max-height: calc(100vh - 4.5em);
  overflow-y: auto;
}

.main-panel {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.window-functions .btn {
  box-shadow: $material-shadow-inset;
  font-size: .7em;
  height: 1.5rem;
  width: 1.5rem;
  color: transparent;
  padding: .1em;
  margin-right: .2em;

  &:hover {
    color: inherit;
  }
}
/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
