<div class="px-2 py-1">
  <input
    class="form-control"
    [(ngModel)]="branchFilter"
    placeholder="Filter..."
    />
</div>
<div class="branch-filter-content">
  <h6 class="dropdown-header d-flex align-items-center">
    <i class="fa fa-code-branch"></i> Local Branches
  </h6>
  @for (b of locals | filterObject: getBranchName:branchFilter; track b) {
    <button
      class="dropdown-item d-flex justify-content-between"
      (click)="selectedBranchChange.emit(b)"
      >
      {{ b.name }}
      @if (selectedBranch && b.name == selectedBranch.name) {
        <i
          class="fa fa-check ml-2"
        ></i>
      }
    </button>
  }
  <hr />
  <h6 class="dropdown-header d-flex align-items-center">
    <i class="fa fa-cloud"></i> Remote Branches
  </h6>
  @for (b of remotes | filterObject: getBranchName:branchFilter; track b) {
    <button
      class="dropdown-item d-flex justify-content-between"
      (click)="selectedBranchChange.emit(b)"
      >
      {{ b.name }}
      @if (selectedBranch && b.name == selectedBranch.name) {
        <i
          class="fa fa-check ml-2"
        ></i>
      }
    </button>
  }
</div>
