<div class="p-1">
  <input
    class="form-control"
    placeholder="Filter...    To/From Filename"
    [(ngModel)]="diffFilter"
  />
</div>
<div
  class="diff-container"
  infinite-scroll
  [scrollWindow]="false"
  (scrolled)="scrolled(true)"
  (scrolledUp)="scrolled(false)"
>
  <div>
    @if (diffCommitInfo) {
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <p class="text-muted">{{ diffCommitInfo.hash }}</p>
          @if (diffCommitInfo.authorName) {
          <p>
            {{ diffCommitInfo.authorName }} &lt;{{
              diffCommitInfo.authorEmail
            }}&gt; &#64; {{ diffCommitInfo.authorDate | date: 'short' }}
          </p>
          }
          <div>{{ diffCommitInfo.message }}</div>
          <div class="mt-2">
            <span>Parents:</span>
            @for (p of diffCommitInfo.parentHashes; track p) {
            <button
              class="btn mx-1 btn-sm btn-outline-warning"
              (click)="onNavigateToHash.emit(p)"
            >
              {{ p.substring(0, 8) }}
              <span class="fa fa-eye"></span>
            </button>
            }
          </div>
        </div>
        <div>
          <button
            class="btn btn-primary btn-circle justify-content-center rounded-circle align-items-center"
            (click)="onExitCommitClicked.emit()"
          >
            <span class="fa fa-times"></span>
          </button>
        </div>
      </div>
    </div>
    }
    <div class="form-inline">
      <app-pretty-checkbox
        [(value)]="settingsService.settings.diffIgnoreWhitespace"
        (valueChange)="saveSettings()"
      >
        Ignore Whitespace
      </app-pretty-checkbox>
      @if (diffFilter) {
      <div class="m-1 badge badge-pill badge-info">
        <i class="fa fa-filter"></i> Filtered Results
      </div>
      }
    </div>
    @if (diffHeaders.length == 0) {
    <div class="text-muted">No differences detected...</div>
    }
  </div>
  @if (diffHeaders) {
  <div class="p-2 d-flex flex-column g-2">
    <div
      class="d-flex flex-column"
      *ngFor="
        let reducedHeader of getFilteredDiffHeaders() as allHeaders;
        index as i
      "
    >
      @if (i === 0 && reducedHeader.header.stagedState === 'Staged') {
      <div
        class="alert alert-info d-flex g-2 justify-content-between align-items-center"
      >
        <i class="fa fa-arrow-down"></i>
        <span>Staged Changes</span>
        <i class="fa fa-arrow-down"></i>
      </div>
      } @if (allHeaders[i - 1]?.header.stagedState === 'Staged' &&
      reducedHeader.header.stagedState === 'Unstaged') {
      <div
        class="alert alert-primary d-flex g-2 justify-content-between align-items-center"
      >
        <i class="fa fa-arrow-down"></i>
        <span>Unstaged Changes</span>
        <i class="fa fa-arrow-down"></i>
      </div>
      }
      <app-layout-card
        [headerContent]="diffHeader"
        [persistExpand]="false"
        [preventOverflow]="false"
        customHeaderClass="justify-content-between"
        [localExpandedDefault]="getLocalExpandedDefault(reducedHeader.header)"
      >
        <ng-template #diffHeader>
          <div class="flex-grow-1 normal-font-size filename clickable">
            @for (part of reducedHeader.header.toFilename.replace('->',
            '/->/').split('/'); track part; let i = $index) {
            <div class="d-inline-block clickable">
              <span class="badge badge-light clickable">{{ part }}</span>
              @if (i < reducedHeader.header.toFilename.split('/').length - 1) {
              <span>/</span>
              }
            </div>
            }
            <button
              class="copy-filename mx-1 p-1 btn btn-light"
              ngbTooltip="Copy"
              (click)="clipboardService.copy(reducedHeader.header.toFilename)"
            >
              <i class="fa fa-copy"> </i>
            </button>
          </div>
          <div class="flex-grow-0 center-text-vertical tag-container">
            @if (reducedHeader.header.stagedState) {
            <span class="text-muted mx-3 normal-font-size"
              ><i>{{ reducedHeader.header.stagedState }}</i></span
            >
            }
            <span [class]="'tag ' + reducedHeader.header.action">{{
              reducedHeader.header.action
            }}</span>
          </div>
        </ng-template>
        <div class="diff-header">
          @if (reducedHeader.header.hunks.length == 0) {
          <div class="text-muted p-3">No differences detected...</div>
          } @for (hunk of reducedHeader.tooLong ? reducedHeader.reducedHunks :
          reducedHeader.header.hunks; track hunk) {
          <div>
            @if (!isEditingHunk(hunk, reducedHeader.header) &&
            hasConflictingWatcher(hunk, reducedHeader.header)) {
            <div
              class="btn btn-block btn-warning mt-3 d-flex justify-content-between"
              (click)="watcherClick(hunk, reducedHeader.header)"
            >
              <i class="fa fa-exclamation-triangle"></i>
              Code watcher warnings
              <i class="fa fa-arrow-down"></i>
            </div>
            }
            <div class="d-flex hunk">
              @if (!isEditingHunk(hunk, reducedHeader.header)) {
              <div class="linenumber-block">
                @for (line of hunk.lines; track line) {
                <div class="d-flex">
                  <div class="linenumber">
                    {{ !getAddition(line) ? line.fromLineNumber : '-' }}
                  </div>
                  <div class="linenumber">
                    {{ !getDeletion(line) ? line.toLineNumber : '-' }}
                  </div>
                  <div
                    [ngClass]="{
                      'line-overlay': true,
                      addition: getAddition(line),
                      deletion: getDeletion(line),
                      'd-none': !getAddition(line) && !getDeletion(line)
                    }"
                  ></div>
                </div>
                }
              </div>
              }
              <div class="code-line-block flex-grow-1 flex-shrink-1">
                @if (!isEditingHunk(hunk, reducedHeader.header)) {
                <pre><code [highlightAuto]="getHunkCode(hunk)"></code></pre>
                } @if (isEditingHunk(hunk, reducedHeader.header)) {
                <textarea
                  oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                  onfocus='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                  class="form-control"
                  (keyup.escape)="cancelEdit()"
                  [autofocus]
                  wrap="soft"
                  [(ngModel)]="editedText"
                ></textarea>
                }
              </div>
              <div class="float-btn-container">
                @if (!isEditingHunk(hunk, reducedHeader.header)) {
                <div>
                  <button
                    class="btn btn-warning btn-sm m-1"
                    ngbTooltip="Undo hunk"
                    (click)="undoHunk(hunk, reducedHeader.header)"
                  >
                    <i class="fa fa-undo"></i>
                  </button>
                  <button
                    class="btn btn-info btn-sm m-1"
                    ngbTooltip="Edit hunk"
                    (click)="startEdit(hunk, reducedHeader.header)"
                  >
                    <i class="material-icons">edit</i>
                  </button>
                </div>
                } @if (isEditingHunk(hunk, reducedHeader.header)) {
                <div>
                  <button
                    class="btn btn-success btn-sm m-1"
                    ngbTooltip="Save Changes"
                    (click)="saveEditedHunk()"
                  >
                    <i class="fa fa-save"></i>
                  </button>
                  <button
                    class="btn btn-primary btn-sm m-1 d-inline-flex justify-content-center"
                    ngbTooltip="Cancel Edit"
                    (click)="cancelEdit()"
                  >
                    <i class="fa fa-times"></i>
                  </button>
                </div>
                }
              </div>
            </div>
          </div>
          } @if (reducedHeader.tooLong) {
          <div class="p-2">
            <p>Too many changed lines, remaining hunks hidden...</p>
            <button
              class="btn btn-sm btn-warning"
              (click)="reducedHeader.tooLong = false"
            >
              Show Hidden
            </button>
          </div>
          }
        </div>
      </app-layout-card>
    </div>
  </div>
  }
</div>
