<div class="p-1">
  <input class="form-control" placeholder="Filter...    To/From Filename" [(ngModel)]="diffFilter">
</div>
<div class="diff-container"
     infinite-scroll
     [scrollWindow]="false"
     (scrolled)="scrolled(true)"
     (scrolledUp)="scrolled(false)">
  <div>
    <div *ngIf="diffCommitInfo" class="card-body">
      <div class="d-flex justify-content-between">
        <div>
          <p class="text-muted">{{diffCommitInfo.hash}}</p>
          <p *ngIf="diffCommitInfo.authorName">
            {{diffCommitInfo.authorName}} &lt;{{diffCommitInfo.authorEmail}}&gt;
            @ {{diffCommitInfo.authorDate | date : 'short'}}
          </p>
          <div>{{diffCommitInfo.message}}</div>
          <div class="mt-2">
            <span>Parents:</span>
            <button *ngFor="let p of diffCommitInfo.parentHashes"
                    class="btn mx-1 btn-sm btn-outline-warning"
                    (click)="onNavigateToHash.emit(p)">
              {{p.substring(0, 8)}}
              <span class="fa fa-eye"></span></button>
          </div>
        </div>
        <div>
          <button class="btn btn-primary btn-circle justify-content-center rounded-circle align-items-center"
                  (click)="onExitCommitClicked.emit()">
            <span class="fa fa-times"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <div class="pretty p-switch p-fill mx-2" (click)="saveSettings()">
        <input type="checkbox" [(ngModel)]="settingsService.settings.diffIgnoreWhitespace"/>
        <div class="state">
          <label>Ignore Whitespace</label>
        </div>
      </div>
      <div class="m-1 badge badge-pill badge-info" *ngIf="diffFilter"><i class="fa fa-filter"></i> Filtered Results
      </div>
    </div>
    <div *ngIf="diffHeaders.length==0" class="text-muted">
      No differences detected...
    </div>
  </div>
  <div *ngIf="diffHeaders" class="px-2">
    <app-layout-card *ngFor="let header of getFilteredDiffHeaders() | slice : 0 : scrollOffset"
                     [headerContent]="diffHeader"
                     [persistExpand]="false"
                     customHeaderClass="justify-content-between"
                     [localExpandedDefault]="getLocalExpandedDefault(header)">
      <ng-template #diffHeader>
        <div class="flex-grow-1 normal-font-size">
          <div class="d-inline-block"
               *ngFor="let part of header.toFilename.replace('->','/->/').split('/'); let i=index">
            <span class="badge badge-light">{{part}}</span>
            <span *ngIf="i<header.toFilename.split('/').length-1">/</span>
          </div>
        </div>
        <div class="flex-grow-0 center-text-vertical tag-container">
          <span class="text-muted mx-3 normal-font-size" *ngIf="header.stagedState"><i>{{header.stagedState}}</i></span>
          <span [class]="'tag '+header.action">{{header.action}}</span>
        </div>
      </ng-template>
      <div class="diff-header" *ngIf="header.action!='Deleted'">
        <div *ngFor="let hunk of header.hunks">
          <div class="btn btn-block btn-warning mt-3 d-flex justify-content-between"
               *ngIf="!isEditingHunk(hunk,header) && hasConflictingWatcher(hunk,header)"
               (click)="watcherClick(hunk,header)">
            <i class="fa fa-exclamation-triangle"></i>
            Code watcher warnings
            <i class="fa fa-arrow-down"></i>
          </div>
          <div class="d-flex hunk">
            <div class="linenumber-block" *ngIf="!isEditingHunk(hunk,header)">
              <div *ngFor="let line of hunk.lines" class="d-flex">
                <div class="linenumber">{{!getAddition(line) ? line.fromLineNumber : '-'}}</div>
                <div class="linenumber">{{!getDeletion(line) ? line.toLineNumber : '-'}}</div>
                <div [ngClass]="{'line-overlay':true, 'addition':getAddition(line),'deletion':getDeletion(line), 'd-none':!getAddition(line)&&!getDeletion(line)}">
                </div>
              </div>
            </div>
            <div class="code-line-block flex-grow-1 flex-shrink-1">
              <pre *ngIf="!isEditingHunk(hunk,header)"><code highlight [code]="getHunkCode(hunk)"></code></pre>
              <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                        onfocus='this.style.height = "";this.style.height = this.scrollHeight + 3 + "px"'
                        class="form-control"
                        (keyup.escape)="cancelEdit()"
                        [autofocus]
                        wrap="soft"
                        *ngIf="isEditingHunk(hunk,header)"
                        [(ngModel)]="editedText"></textarea>
            </div>
            <div class="float-btn-container">
              <div *ngIf="!isEditingHunk(hunk,header)">
                <button class="btn btn-warning btn-sm m-1"
                        title="Undo hunk"
                        (click)="undoHunk(hunk,header)"><i class="fa fa-undo"></i></button>
                <button class="btn btn-info btn-sm m-1"
                        title="Edit hunk"
                        (click)="startEdit(hunk,header)"><i class="material-icons">edit</i></button>
              </div>
              <div *ngIf="isEditingHunk(hunk,header)">
                <button class="btn btn-success btn-sm m-1"
                        title="Save Changes"
                        (click)="saveEditedHunk()"><i class="fa fa-save"></i></button>
                <button class="btn btn-primary btn-sm m-1 d-inline-flex justify-content-center"
                        title="Cancel Edit"
                        (click)="cancelEdit()"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-layout-card>
  </div>
</div>
