.repo-section-container {
  overflow: auto;
}

.card {
  transition: min-height ease 0.5s;
  margin: 0;
  font-size: 0.9em;

  &.expanded {
    min-height: 10em;
  }
}

:host {
  transition: min-height ease 0.5s;
  &:not(.min-height) {
    min-height: 10em;
  }

  &.min-height {
    min-height: 3.25em;
    flex-shrink: 0;
  }
}

.td,
.th {
  padding: 0.3em;
}

.prevent-overflow {
  height: 0;
}
