<div
  class="card d-flex flex-column"
  [ngClass]="{
    'my-1': spaced,
    'flex-grow-1 expanded': header.getExpandState(),
    'prevent-overflow': preventOverflow
  }"
  >
  <app-layout-card-header
    [cardTitle]="cardTitle"
    [persistExpand]="persistExpand"
    [expandKey]="expandKey"
    [iconClass]="iconClass"
    [localExpandedDefault]="localExpandedDefault"
    [content]="headerContent"
    [customHeaderClass]="customHeaderClass"
    (onToggleExpand)="updateFlexBindings($event)"
  ></app-layout-card-header>
  @if (header.getExpandState()) {
    <div
      class="repo-section-container {{ customBodyClass }} flex-grow-1"
      infinite-scroll
      (scrolled)="scrolled.emit($event)"
      (scrolledUp)="scrolledUp.emit($event)"
      [scrollWindow]="false"
      [infiniteScrollDisabled]="infiniteScrollDisabled"
      >
      <ng-content></ng-content>
    </div>
  }
</div>
