<table class="table table-striped">
  <thead>
  <tr>
    <th>
      <div class="pretty p-icon p-curve">
        <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"/>
        <div class="state">
          <i class="icon material-icons">check</i>
          <label></label>
        </div>
      </div>
    </th>
    <th width="1%"></th>
    <th>
      File
    </th>
    <th width="1%"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of changes | filterObject : 'file' : changeFilter"
      (click)="toggleSelect(c.file,$event)"
      class="change">
    <td>
      <i [ngClass]="{far:true,'fa-check-square':selectedChanges[c.file],'fa-square':!selectedChanges[c.file]}"></i>
    </td>
    <td>
      <i class="fas fa-{{getChangeType(c)}}"></i>
    </td>
    <td>
      <div class="change-filename" [title]="c.file">
        <div class="d-inline-block" *ngFor="let part of c.file.replace('->','/->/').split('/'); let i=index">
          <span class="badge badge-light">{{part}}</span>
          <span *ngIf="i<c.file.replace('->','/->/').split('/').length-1">/</span>
        </div>
      </div>
    </td>
    <td class="center-text-vertical">
      <div class="btn-group">
        <button class="btn btn-outline-warning btn-sm" (click)="undoFileClicked(c.file)">
          <i class="fa fa-undo"></i>
        </button>
        <button class="btn btn-outline-success btn-sm" (click)="mergeClicked(c.file)" *ngIf="isMergeConflict(c.change)">
          <i class="material-icons">merge_type</i>
        </button>
        <button class="btn btn-outline-danger btn-sm" (click)="deleteClicked(c.file)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
