@import "../../../styles";

.change {
  transition: background-color .5s;

  &:hover {
    background-color: rgba(128, 128, 128, .2);
  }

  &:active {
    background-color: rgba(100, 100, 190, .2);
  }
}

.change-filename {
  max-height: 1.5em;
  overflow-y: hidden;
  transition: max-height .5s;

  &:hover {
    max-height: 10em;
    overflow-y: auto;
  }
}

.table td {
  padding: .2rem;
  vertical-align: middle;

  &:first-child {
    cursor: pointer;
  }
}

th:first-child {
  max-width: 1em;
}

.fa-pen-square {
  color: $status-changed;
}

.fa-registered {
  color: $status-renamed;
}

.fa-plus {
  color: $status-added;
}

.fa-minus {
  color: $status-deleted;
}
