$border-radius: .15em;
$material-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
0 2px 2px 0 rgba(0, 0, 0, .14),
0 1px 5px 0 rgba(0, 0, 0, .12);
$material-shadow-light: 0 3px 1px -2px rgba(0, 0, 0, .1),
0 2px 2px 0 rgba(0, 0, 0, .07),
0 1px 5px 0 rgba(0, 0, 0, .06);
$material-shadow-inset: inset 0 3px 1px -2px rgba(0, 0, 0, .1),
inset 0 2px 2px 0 rgba(0, 0, 0, .07),
inset 0 1px 5px 0 rgba(0, 0, 0, .06);
$material-dialog-shadow: 0 4px 8px rgba(0, 0, 0, .32),
0 8px 40px rgba(0, 0, 0, .4);
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

.center-text-vertical {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}

.card {
  margin: .5em;
  box-shadow: $material-shadow;
  border: none;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

.dropdown-menu {
  box-shadow: $material-dialog-shadow;
  border: none;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
}

.card-elevate-anim {
  transition: background-color .5s;
}

.card-elevate-anim:hover {
  background-color: rgba(128, 128, 128, .4);
}

.card-title {
  padding: .5em;
}

.card-footer {
  background-color: transparent;
}

.btn {
  vertical-align: middle;
  display: inline-flex;
  border-radius: $border-radius;
  box-shadow: $material-shadow;
}

.form-control {
  border-radius: $border-radius;
  box-shadow: $material-shadow-light;
  border: none;
  background-color: rgba(255, 255, 255, .7);
}

*:not(.material-icons,.fa,.fas,
.far,.fal,.fab ) {
  font-family: Roboto, sans-serif
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: .4rem;
  height: .4rem;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: .2em;
  background-color: rgba(128, 128, 128, .3);
}

body {
  overflow-x: hidden;
}

.dialog-container, .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 10;
}

.modal-dialog > .modal-content {
  z-index: 100;
  position: fixed;
  width: 30em;
  max-width: 100vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  max-height: 60%;
  box-shadow: $material-dialog-shadow;
  display: flex;
  flex-direction: column;

  .modal-body {
    overflow-y: auto;
    flex-grow: 1;
  }

  &.dialog-wide {
    width: 60em;
  }

  &.dialog-expand {
    width: unset;
    min-width: 30em;
    max-width: 90vw;
  }
}

.rounded {
  border-radius: $border-radius;
}

.rounded-left {
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.rounded-right {
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.rounded-bottom {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.rounded-top {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.navbar {
  box-shadow: $material-shadow;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('assets/MaterialIcons-Regular.woff2') format('woff2'),
  url('assets/MaterialIcons-Regular.woff') format('woff'),
  url('assets/MaterialIcons-Regular.ttf') format('truetype');
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('assets/roboto-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('assets/roboto-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.7em; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.modal-content, .modal-footer, .modal-header {
  border: none;
}

.modal-footer {
  min-height: 4em;
}

.modal-header {
  flex-shrink: 0;
}

.image-fit {
  max-width: 100%;
  max-height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  display: block;
}

.fa, .fas, .far, .fal, .fab {
  font-size: 1.15em;
  padding: 0.23em;
}

.cover-img {
  min-width: 100%;
  object-fit: cover;
}

.table td {
  vertical-align: middle;
}

svg text {
  font-family: "Font Awesome 5 Free";
  font-size: .9em;
  font-weight: 900;
}

app-modal .embedded-repo-view {
  width: 90vw !important;
  height: 90vh !important;
  max-height: unset !important;
  max-width: unset !important;
}

.error-message {
  color: red;
}

.disabled, .btn:disabled, input:disabled {
  $light: rgba(255, 255, 255, 0.07);
  $dark: rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(-45deg, $light 25%, $dark 25%, $dark 50%, $light 50%, $light 75%, $dark 75%, $dark);
  background-size: 1rem 1rem;
}

$status-changed: rgba(222, 143, 31, 0.6);
$status-moved: rgba(24, 35, 222, 0.6);
$status-renamed: rgba(203, 24, 222, 0.6);
$status-added: rgba(63, 222, 36, 0.6);
$status-deleted: rgba(222, 35, 14, 0.6);

.cursor-pointer {
  cursor: pointer;
}

.table.table-striped {
  td, th {
    border: none;
  }

  tr:nth-child(even), th {
    background-color: rgba(128, 128, 128, .1);
  }

  tr {
    transition: background-color .3s;
  }

  tr:hover {
    background-color: rgba(128, 128, 128, .2);
  }
}

.alert-warning {
  color: #222;
}
